#qie{
	width:98%;
	margin:0 auto;
}
#qie ul li{
	width:50%;
	float:left;
	text-align: center;
	height:40px;
	line-height: 40px;
	font-size:18px;
	background-color: #f5760b;
	color:white;
}
#qie div{
	width:100%;

}
 .content{
	clear:both;
	width:99%;
	overflow:hidden;

	padding-top:10px;
	margin:0 auto;
}
 .content ul li{
	width:29%;
	
	
	float:left;
	padding:0 2%;
	overflow: hidden;
	
}
.content img{
	
	width:100%;
	border-radius: 50%;
}
.content h1{
	width:100%;
	height:40px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
}