<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>便民服务</title>
	<meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="__CSS__/weixin/css1.css">
	<style type="text/css">
	html{
		width:100%;
		height:100%;
	}
	body{
		width:100%;
		height:100%;
	}
	.content{
			background-image: url(__IMG__/weixin/a.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.content p{
		height:30px;
		line-height: 30px;
		color: white;
	}
	</style>
</head>
<body>
	<div class="content">
		<ul>
			<a href="http://www.ah.gov.cn/UserData/SortHtml/1/72226235631.html">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>公积金服务</p>
				</li>
			</a>
			<a href="http://www.hfairport.com/">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>航班查询</p>
				</li>
			</a>
			<a href="http://www.12306.cn/">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>火车时刻</p>
				</li>
			</a>
			<a href="http://www.ah.gov.cn/Tmp/News_news.shtml?d_ID=8198">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>邮编查询</p>
				</li>
			</a>
			<a href="http://www.hfbus.cn/Service/Service.aspx">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>公交线路</p>
				</li>
			</a>
			<a href="http://www.ahmap.gov.cn/">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>电子地图</p>
				</li>
			</a>
			<a href="http://www.ah.gov.cn/UserData/SortHtml/1/22756173509.html">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>常用电话</p>
				</li>
			</a>
			<a href="http://www.ahwst.gov.cn:13333/XXGS/index.action">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>医疗机构</p>
				</li>
			</a>
			<a href="http://www.ah.gov.cn/UserData/SortHtml/1/12563607507.html">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>文体场馆</p>
				</li>
			</a>
		</ul>
	</div>
</body>
</html>