<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>安徽要闻</title>
	<meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="__CSS__/mobile.css" rel="stylesheet">
	<meta name="format-detection" content="telephone=no">
	<style type="text/css">
	*{
		margin:0;
		padding:0;
		text-decoration: none;
	}
	.all{
		width:100%;
	}
	.all .nav{
		width:100%;
	}
	.all .nav img{
		width:100%;
		display: block;
	}
	
	.content a{
		color:black;
		font-size: 15px;
		font-family: "微软雅黑";
	}
	.content p{
		padding-left:43%;
		padding-top:3%;
		padding-right:2%;
		padding-bottom:5%;
		text-indent: 2em

	}
	.content ul li{
		padding-left:2%;
		margin-bottom:2%;
		background-color: #ffffff;
		margin-top:2%;
		overflow: hidden;
	}
	
	</style>
</head>
<body>
	<div class="all">
		<div class="nav">
			<img src="__IMG__/weixin/yaowen-nav-bg.png">
		</div>
		<?php  
            $Document = D('Document');
            $ahyw = $Document->order("create_time DESC")->limit(10)->lists(40);
        ?>
		<div class="content">
			<div class="tou">
	            <ul>
	                <volist name="ahyw" id="vo">
	                    <li>
	                        <div class="txt">
	                            <a href="{:U('Article/detail',array('id'=>$vo['id']))}">{$vo.title}</a><span>({$vo.create_time|date='m-d',###})</span>
	                        </div>
	                    </li>
	                </volist>
	            </ul>
	            <a href="/"><p>进入首页></p></a>
	        </div>
		</div>
	</div>
</body>
</html>