<extend name="Public/base"/>

<block name="style">
<link rel="stylesheet" type="text/css" href="__CSS__/table.css" media="all">
</block>

<block name="body">
    <div class="main-title">
        <h2>留言留言：{$title}</h2>
    </div>
    <form method="post" class="form-horizontal">

        <div class="form-item">
            <label class="item-label">留言用户</label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$name}" readonly="readonly">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">留言内容</label>
            <div class="controls">
                <label class="textarea input-large">
                    {$content}
                </label>
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">受理单位</label>
            <div class="controls">
                <select name="pid">
                    <option <?php if (!$uid) { ?> selected <?php } ?> >未知</option>
                    <volist name="yjdw" id="vo">
                        <option value="{$vo.uid}" <eq name="uid" value="$vo.uid"> selected</eq> >{$vo.nickname}</option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>

    </form>
</block>
<block name="script">
    <script type="text/javascript">
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
