<extend name="Public/base"/>
<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
	<!-- 标题 -->
	<div class="main-title">
		<h2>
		{$meta_title}
		</h2>
	</div>

	<!-- 按钮工具栏 -->
	<div class="cf">
		<div class="fl">

		 	<!-- <button class="btn ajax-post" target-form="ids" url="{:U("Ask/setStatus",array("status"=>1))}">审批通过</button> -->
			<!-- <button class="btn ajax-post" target-form="ids" url="{:U("Ask/setStatus",array("status"=>1))}">启 用</button>
			<button class="btn ajax-post" target-form="ids" url="{:U("Ask/setStatus",array("status"=>0))}">禁 用</button>
			<button class="btn ajax-post confirm" target-form="ids" url="{:U("Ask/setStatus",array("status"=>-1))}">删 除</button> -->
			
		</div>

		<!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<div class="drop-down">
					<span id="sch-sort-txt" class="sort-txt" data="{$status}"><if condition="get_status_title($status) eq ''">所有<else/>{:get_status_title($status)}</if></span>
					<i class="arrow arrow-down"></i>
					<ul id="sub-sch-menu" class="nav-list hidden">
						<li><a href="javascript:;" value="">所有</a></li>
						<eq name="ACTION_NAME" value="index">
						<volist name=":C('STATUS')" id="type">
							<li><a href="javascript:;" value="{$key}">{$type}</a></li>
						</volist>
						</eq>
					</ul>
				</div>
				<input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入标题文档">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('Ask/index',false)}"><i class="btn-search"></i></a>
			</div>
            <div class="btn-group-click adv-sch-pannel fl">
                <button class="btn">高 级<i class="btn-arrowdown"></i></button>
                <div class="dropdown cf">
                	<div class="row">
                		<label>留言时间：</label>
                		<input type="text" id="time-start" name="time-start" class="text input-2x" value="{:I('time-start')}" placeholder="起始时间" /> -                		
                        <div class="input-append date" id="datetimepicker"  style="display:inline-block">
                            <input type="text" id="time-end" name="time-end" class="text input-2x" value="{:I('time-end')}" placeholder="结束时间" />
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                	</div>
                </div>
            </div>
		</div>
	</div>


	<!-- 数据表格 -->
    <div class="data-table">
		<table>
    <thead>
        <tr>
			<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
			<th>编号</th>
			<th class="text-left">标题</th>
			<th>受理单位</th>
			<th>留言日期</th>
			<th>办理情况</th>	
			<?php if (ACTION_NAME == "done") {?>
			<th>办理完成</th>
			<?php }?>
			<th>办理天数</th>
			<?php if (ACTION_NAME == "index") {?>
			<th>是否显示网页</th>
			<?php }?>
			<th>操作</th>
		</tr>
    </thead>
   	<tbody>
   		<?php if (!empty($lists)) { ?>
		<volist name="lists" id="vo">
		<tr>
	        <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
			<td>{$vo.id}</td>
			<td style="text-align: left;"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;<a href="{:U('Ask/detail?id='.$vo['id'])}" title="查看">{$vo.title}</a></td>
			<td>
				<span>
				{$vo['member']['nickname']?$vo['member']['nickname']:'未知'}&nbsp;&nbsp;
				
				<?php if ( $group_id == 1 && $vo['status'] == 0 && empty($vo['member']) ) { ?>
					<a href="{:U('Ask/change?id='.$vo['id'])}" title="指派"><i class="fa fa-reply-all"></i></a>
				<?php }else if ( $group_id == 3 && $vo['status'] == 0 && empty($vo['member']) ) { ?>
					<a href="{:U('Ask/adopt?id='.$vo['id'])}" class="ajax-get confirm" title="认领" target-form="form-horizontal"><i class="fa fa-reply-all"></i></a>
				<?php } ?>
				
				<?php if ( $group_id == 3 && $vo['status'] == 1 && $vo['uid'] == UID) { ?>
					<a href="{:U('Ask/assign_to?id='.$vo['id'])}" title="指派" target-form="form-horizontal"><i class="fa fa-reply-all"></i></a>
				<?php } ?>

				<?php if ( ($group_id == 3 || $group_id == 1) && $vo['status'] == 1 && $vo['uid'] != UID) { ?>
					<a href="" title="督办" target-form="form-horizontal"><i class="fa fa-bell-o"></i></a>
				<?php } ?>

				</span>
			</td>
			<td><span>{$vo.create_time|time_format}</span></td>
			<td>
				<php>$types = C('STATUS');</php>
					<?php if ( is_null ($vo['uid']) ) { ?>
						待认领
					<?php }else{ ?>
						{$types[$vo['status']]}
					<?php } ?>
			</td>
			
	        <?php if (ACTION_NAME == "done") { ?>
	        <td>
				<?php if ($vo['finish_time']) { ?>
				<span>{$vo.finish_time|time_format}</span>
				<?php } ?>
			</td>
			<?php } ?>
	        <td>
				<php>
					if ($vo['finish_time']) {
						$diff_day = round(abs($vo['finish_time']-$vo['create_time'])/86400);
					}else {
						$diff_day = round(abs(time()-$vo['create_time'])/86400);
					}
					if ( $diff_day < 1 ) {
						$diff_day = 1;
					}
				</php>
				<span <gt name="diff_day" value="5">class="red"</gt>>{$diff_day} 天</span>
	        </td>

			<?php if (ACTION_NAME == "index") {?>
	        <td>
	        	<?php if ($vo['public'] == 1) { ?>
					<b class="red">显示</b>
	        	<?php } else { ?>
					不显示
	        	<?php } ?>
	        </td>
			<?php } ?>

	        <td>
	        	<a href="{:U('Ask/detail?id='.$vo['id'])}">查看</a>
	        	<?php if (ACTION_NAME != "index" && ACTION_NAME != 'all') { ?>
				<?php if ( $vo['status'] != 10) { ?>
				
					<?php if ( $vo['status'] == 0 ) { ?>
					|	<a href="{:U('Ask/sp',array('id'=>$vo['id']))}">审批办理</a>
					<?php } ?>

					<!-- <a href="{:U('Ask/edit?cate_id='.$vo['category_id'].'&id='.$vo['id'])}">编辑</a>
					
					<a href="{:U('Ask/setStatus?ids='.$vo['id'].'&status='.abs(1-$vo['status']))}" class="ajax-get">{$vo.status|show_status_op}</a> -->

					<?php if ( $vo['status'] == 1 && $vo['uid'] == UID ) { ?>
						|
						<a href="{:U('Ask/reply?&id='.$vo['id'])}">办理</a>
						|
						<a href="{:U('Ask/call_assist?&id='.$vo['id'])}">请求协办</a>
					<?php } ?>

					<?php if ( ($group_id == 3 || $group_id == 1) && $vo['status'] == 1 && $vo['uid'] != UID) { ?>
						|
						<a href="" title="督办" target-form="form-horizontal">督办</a>
					<?php } ?>

					<?php if ( $group_id == 3  && $vo['status'] == 4 ) { ?>
						|
						<a href="{:U('Ask/answer?&id='.$vo['id'])}" title="回复网友">回复网友</a>
						|
						<a href="javascript:void(0);" data-aid="{$vo['id']}" title="退回重办" class="call_back_btn">退回重办</a>
					<?php } ?>

					<?php if ( $vo['status'] == 60 && $vo['uid'] == UID ) { ?>
						|
						<a href="{:U('Ask/re_do?&id='.$vo['id'])}">重办</a>
					<?php } ?>

					<!-- <a href="{:U('Ask/setStatus?status=-1&ids='.$vo['id'])}" class="confirm ajax-get">删除</a> -->

				<?php } else { ?>
					|
					<a href="{:U('Ask/answer?&id='.$vo['id'])}" title="回复网友">回复网友</a>
					|
					<a href="javascript:void(0);" data-aid="{$vo['id']}" title="退回重办" class="call_back_btn">退回重办</a>
				<?php } ?>
				<?php } ?>
	        </td>

		</tr>
		</volist>
		<?php } else { ?>
			<tr>
				<td colspan="10" class="text-center"> 暂时还没有内容! </td>
			</tr>
		<?php } ?>
	</tbody>

    </table> 

	</div>

	<!-- 分页 -->
    <div class="page">
        {$_page}
    </div>

    <div class="modal call_back">
	    <form method="post" class="call_back_form" action="{:U('Ask/call_back')}">
	        <div style="width: auto; padding: 0;" class="modal-dialog">
	            <input name="aid" value="" type="hidden" />
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button aria-hidden="true" data-dismiss="modal" class="close close-dialog" type="button">
	                        x
	                    </button>
	                    <h4 class="modal-title">
	                        退回重办原因
	                    </h4>
	                </div>
	                <div class="modal-body">
	                    <textarea name="call_back_info">请输入内容！</textarea>
	                </div>
	                <div class="modal-footer">
	                    <button href="{:U('Ask/call_back?&id='.$vo['id'])}" class="btn btn-primary ajax-post confirm"
	                    target-form="call_back_form" type="button">
	                        退回
	                    </button>
	                    <button class="btn btn-default close-dialog" type="button">
	                        取消
	                    </button>
	                </div>
	            </div>
	        </div>
	    </form>
	</div>
</div>

</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var status = $("#sch-sort-txt").attr("data");
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
		if(status != ''){
			query = 'status=' + status + "&" + query;
        }
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

	$(".call_back_btn").click(function () {
		var aid = $(this).data("aid");
		$("input[name='aid']").val(aid);
		$(".call_back").show();
	})
	$("textarea[name='call_back_info']").click(function () {
		if ($(this).val() == "请输入内容！") {
			$(this).val('');
		}
	});

	$(".close-dialog").click(function () {
		$(".call_back").hide();
	})

	/* 状态搜索子菜单 */
	$(".search-form").find(".drop-down").hover(function(){
		$("#sub-sch-menu").removeClass("hidden");
	},function(){
		$("#sub-sch-menu").addClass("hidden");
	});
	$("#sub-sch-menu li").find("a").each(function(){
		$(this).click(function(){
			var text = $(this).text();
			$("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
			$("#sub-sch-menu").addClass("hidden");
		})
	});

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });

    $('#datetimepicker').datetimepicker({
       format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true,
        pickerPosition:'bottom-left'
    });
    var getstatus = '';
    <php>if ( $_GET['status'] ) { </php>
	var getstatus = {$_GET['status']};
	<php> } </php>
	if (getstatus) {
		$("#sub-sch-menu li").find("a").each(function(){
			var valuestatus = $(this).attr("value");
			if ( getstatus == valuestatus ) {
				$(this).click();
			}
		})
	}
})
</script>
</block>



