<script type="text/javascript">
(function(){
	var ThinkPHP = window.Think = {
		"ROOT"   : "__ROOT__", //当前网站地址
		"APP"    : "__APP__", //当前项目地址
		"PUBLIC" : "__PUBLIC__", //项目公共目录地址
		"DATA" : '{$data_ewm}', //项目公共目录地址
		"DEEP"   : "{:C('URL_PATHINFO_DEPR')}", //PATHINFO分割符
		"MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
		"VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"]
	}
})();

$(document).ready(function () {
    $(".navbar-right>a").mouseenter(function () {
        console.log($(this).find("img"));
        $(this).find("img").show();
    });
    $(".navbar-right>a").mouseleave(function () {
        $(this).find("img").hide();
    });
    $(".navbar-right>a>img").mouseenter(function () {
        $(this).show();
    });
    $(".navbar-right>a>img").mouseleave(function () {
        $(this).hide();
    });
});
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>