<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>{:C('WEB_SITE_TITLE')}</title>
		<link href="__CSS__/mobile.css" rel="stylesheet">
		<block name="style"></block>
		<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="nav">
		        <div class="nav-bg">
		            <img src="__IMG__/nav-bg.png"  width="100%">
		        </div>
		        <div class="nav-content">
		            <ul>
		                <li><a href="/" class="m01">首页</a></li>	
						<li><a href="{:U('Index/government_information')}" class="m02">政务信息公开</a></li>	
						<li><a href="{:U('Index/weixin_weibo')}" class="m03">微信微博大厅</a></li>	
						<li><a href="{:U('Index/respond_to_society')}" class="m04">回应社会关切</a></li>	
						<li><a href="{:U('Index/supervision_and_evaluation')}" class="m05">监督评价公开</a></li>	
		            </ul>
		        </div>
		    </div>
			<!-- 主体 -->
			<include file="Public/body"/>
			<!-- /主体 -->
		</div>

		<!-- 底部 -->
	    <!-- <footer class="footer">
	      	<div class="container">
	          	<p>主办单位：安徽省人民政府办公厅 承办单位：安徽省人民政府网站<br/>协办单位：安徽新媒体集团</p>
	          	<p>皖ICP备05003657号 | 网站编辑信箱 | 网站使用帮助 | 网站地图 | 联系方式：0551-62603315</p>
	      	</div>
	    </footer> -->
		<include file="Public/var"/>
		<block name="script"></block> 
		<div class="hidden">
			<block name="hidden"></block>
		</div>
		<!-- /底部 -->
	</body>
</html>