<div class="content_right siderbar">

    <iframe id="weibo" style="width:100%; height:340px;"   frameborder="0" scrolling="no" src="http://v.t.sina.com.cn/widget/widget_blog.php?uid=3056536741"></iframe>
    <div class="lyxd">
        <h3>
            <span></span>微访谈
            <hr/>
            <a href="" class="more">更多>></a>
        </h3>
        <div class="imgbox">
            <img src="__IMG__/ft.jpg">
        </div>
        <a href="" class="text">
            国家降低成品油价格汽、柴油价每吨降125元，测算到零售价90号汽油和0号柴油（全国平均）每升分别降0.09和0.11元，3日24时执行。
        </a>
    </div>
    <div class="lyxd">
        <h3>
            <span></span>微活动
            <hr/>
            <a href="" class="more">更多>></a>
        </h3>
        <div class="imgbox">
            <img src="__IMG__/ft.jpg">
        </div>
        <a href="" class="text">
            国家降低成品油价格汽、柴油价每吨降125元，测算到零售价90号汽油和0号柴油（全国平均）每升分别降0.09和0.11元，3日24时执行。
        </a>
    </div>

</div>