<!-- <extend name="Base/common"/>
<block name="body">

	<section id="contents">
		<volist name="list" id="data">
		<div class="">
			<h3 class="ellipsis"><a href="{:U('Article/detail?id='.$data['id'])}">{$data.title}</a></h3>
		</div>
		<div>
			<p class="lead">{$data.description}</p>
		</div>
		<div>
			<span><a href="{:U('Article/detail?id='.$data['id'])}">查看全文</a></span>
			<span class="pull-right">
				<span class="author">{$data.uid|get_username}</span>&nbsp;&nbsp;
				<span>发表于 {$data.create_time|date='Y-m-d H:i:s',###}</span>
				<span>阅读({$data.view})</span>&nbsp;&nbsp;
			</span>
		</div>
		<hr/>
		</volist>
		<div class="onethink pagination pagination-right pagination-large">
			<article:page cate="$category['id']" listrow="$category['list_row']" />
		</div>
	</section>
</block> -->


<extend name="Base/common"/>
<block name="body">
    <div class="main-colum sae">
        <div class="navigation">
            当前位置：<a href="/" target="_blank">首页</a>&nbsp;>&nbsp;<a href="{:U('Article/lists',array('category'=>$category['id']))}" target="_blank">{$category.title}</a>
            <div class="topDate">
                <php>$days = array('星期天','星期一','星期二','星期三','星期四','星期五','星期六');$today = date('w');</php>
                <php>echo date(Y年m月d日);</php> <php>echo $days[$today];</php>
            </div>
        </div>
        <div class="section article-list">
        	<div class="dt">
                <div class="tabmenu">
                    <ul>
                        <li><a class="active">{$category.title}</a></li>
                    </ul>
                </div>
                <div class="lyxd">
                    <ul>
                        <volist name="list" id="data">
			        		<li><a href="{:U('Article/detail?id='.$data['id'])}">{$data.title}</a></li>
			        	</volist>
                    </ul>
                </div>
            </div>
            <div class="onethink pagination pagination-right pagination-large">
				<article:page cate="$category['id']" listrow="$category['list_row']" />
			</div>
        </div>
        <include file="Base/side_government_information"/>
    </div>
</block>
