<extend name="Base/common"/>
<block name="body">
    <div class="main-colum sae">
        <div class="navigation">
            当前位置：<a href="/" target="_blank">首页</a>&nbsp;>&nbsp;<a href="{:U('Article/lists',array('category'=>$category['id']))}">{$category.title}</a>
            <div class="topDate">
                <php>echo date(Y年m月d日);</php> <php>echo $days[$today];</php>
            </div>
        </div>
        <div class="section article-list">
        	<div class="dt">
                <div class="tabmenu">
                    <ul>
                        <li><a class="active">{$category.title}</a></li>
                    </ul>
                </div>
                <div class="lyxd">
                    <ul>
                    	<?php if ( in_array($_GET['category'], array(48,49,50)) ) { ?>
                        <volist name="list" id="data">
			        		<li><a href="{$data.link_id}" target="_blank">{$data.title}</a></li>
			        	</volist>
			        	<?php }else { ?>
						<volist name="list" id="data">
			        		<li><a href="{:U('Article/detail?id='.$data['id'])}" target="_blank">{$data.title}</a></li>
			        	</volist>
			        	<?php } ?>
                    </ul>
                </div>
            </div>
            <div class="onethink pagination pagination-right pagination-large">
				<article:page cate="$category['id']" listrow="$category['list_row']" />
			</div>
        </div>
        <include file="Base/side_government_information"/>
    </div>
</block>
