<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/yx_rotaion.css" rel="stylesheet">
    <link href="__CSS__/flexslider.css" rel="stylesheet">
</block> 
<block name="script">
    <script src="__JS__/jquery-migrate-1.2.1.js"></script>
    <script src="__JS__/jquery.yx_rotaion.js"></script>
    <script src="__JS__/jquery.flexslider-min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".yx-rotaion").yx_rotaion({auto:true,height:"330px",width:"720px"});
            $("#menuLink li a").hover(function() {
                $("#menuLink li a").removeClass("active");
                $(this).addClass("active");
                $(".menuContent").removeClass("active");
                $("#"+$(this).data("link")).addClass("active");
            });
            $('#wxweibo').flexslider({       
                slideshow:true,
                slideshowSpeed: 3000, 
                animation: "slide",
                direction:"horizontal",
                easing:"swing",
                controlNav: false,
                directionNav:true
            });
            $('#rank').flexslider({       
                slideshow:true,
                slideshowSpeed: 4000, 
                animation: "slide",
                direction:"horizontal",
                easing:"swing",
                controlNav: false,
                directionNav:true
            });
        })
    </script>
</block> 
<block name="side">
<!-- 左侧 nav
================================================== -->
    <!-- <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div> -->
</block>

<block name="body">
    <div class="main-colum">
        <div class="slider">
            <div class="yx-rotaion">
                <ul class="rotaion_list">
                    <li><a href=""><img src="__IMG__/slider_01.jpg" alt="李克强与默克尔互赠了啥礼物"></a></li>
                    <li><a href=""><img src="__IMG__/slider_02.jpg" alt="阜南：机声隆隆忙秋种"></a></li>
                    <li><a href=""><img src="__IMG__/slider_03.jpg" alt="黄梅调电影《长相知》安庆首映 新秀演员惊艳亮相"></a></li>
                </ul>
            </div>
        </div>

        <div class="right_list news">
            <ul>
                <li>
                    <div class="txt">
                        <a href="">中共中央总书记、国家主席、中央军委主席习近平在人民大会堂亲切会见纪念活动各工作机构负责同志和工作人员、演职人员、受阅部队官兵代</a>
                    </div>
                    <div class="line"></div>
                </li>
                <li>
                    <div class="txt">
                        <a href="">中共中央总书记、国家主席、中央军委主席习近平在人民大会堂亲切会见纪念活动各工作机构负责同志和工作人员、演职人员、受阅部队官兵代</a>
                    </div>
                    <div class="line"></div>
                </li>
                <li>
                    <div class="txt">
                        <a href="">中共中央总书记、国家主席、中央军委主席习近平在人民大会堂亲切会见纪念活动各工作机构负责同志和工作人员、演职人员、受阅部队官兵代</a>
                    </div>
                    <div class="line"></div>
                </li>
                <li>
                    <div class="txt">
                        <a href="">中共中央总书记、国家主席、中央军委主席习近平在人民大会堂亲切会见纪念活动各工作机构负责同志和工作人员、演职人员、受阅部队官兵代</a>
                    </div>
                    <div class="line"></div>
                </li>
                <li>
                    <div class="txt">
                        <a href="">中共中央总书记、国家主席、中央军委主席习近平在人民大会堂亲切会见纪念活动各工作机构负责同志和工作人员、演职人员、受阅部队官兵代</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="contents">
        <div class="content_left">
            <div class="leftAreaContent">
                <div class="tabmenu">
                    <ul id="menuLink">
                        <li><a href="guowuyuan/lkq.htm" target="_blank" class="active" data-link="wjd">微焦点</a></li>

                        <li><a href="guowuyuan/" target="_blank" data-link="wft">微访谈</a></li>

                        <li><a href="xinwen/xw_bmxw.htm" target="_blank" data-link="whd">微活动</a></li>
                    </ul>
                </div>
                <div id="wjd" class="menuContent active">
                    <div class="j-hotspotPic">
                        <a href="" target="_blank">
                            <img src="http://www.gov.cn/site1/20151031/18231446299803702.jpg">
                        </a>
                    </div>
                    <ol>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                    <ul>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                    </ul>
                </div>
                <div id="wft" class="menuContent">
                    <div class="j-hotspotPic">
                        <a href="" target="_blank">
                            <img src="http://www.gov.cn/site1/20151028/65181446011496743.jpg">
                        </a>
                    </div>
                    <ol>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                    <ul>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                    </ul>
                </div>
                <div id="whd" class="menuContent">
                    <div class="j-hotspotPic">
                        <a href="" target="_blank">
                            <img src="http://img1.gtimg.com/14/1416/141625/14162507_small.jpg">
                        </a>
                    </div>
                    <ol>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                    <ul>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                        <li>
                            <a href="guowuyuan/2015-11/03/content_2959742.htm" target="_blank">纪念邹韬奋同志诞辰120周年座谈会在京举行</a><span>(11-03)</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rightAreaContent">
                <div class="tabmenu">
                    <ul>
                        <li><a href="" target="_blank" class="active">各市人民政务</a></li>
                    </ul>
                    <a href="" class="more">更多</a>
                </div>
                <div class="cityContent">
                    <ul>
                        <li><a>合肥市人民政府</a></li>
                        <li><a>淮南市人民政府</a></li>
                        <li><a>阜阳市人民政府</a></li>
                        <li><a>六安市人民政府</a></li>
                        <li><a>马鞍山市人民政府</a></li>
                        <li><a>铜陵市人民政府</a></li>
                    </ul>
                </div>
                <div class="tabmenu">
                    <ul>
                        <li><a href="" target="_blank" class="active">省直厅局</a></li>
                    </ul>
                    <a href="" class="more">更多</a>
                </div>
                <div class="cityContent">
                    <ul>
                        <li><a>安徽发布</a></li>
                        <li><a>安徽公安在线</a></li>
                        <li><a>江淮气象</a></li>
                        <li><a>安徽检察</a></li>
                        <li><a>安徽高速</a></li>
                        <li><a>安徽公安交警在线</a></li>
                        <li><a>安徽禁毒在线</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="lyTable">
                <div class="tabmenu">
                    <ul>
                        <li><a href="" target="_blank" class="active">最新留言</a></li>
                    </ul>
                    <div class="lyDetail">
                        <span>留言总数：<font class="blue">10000</font></span>
                        <span>受理总数：<font class="blue">80</font> 件</span>
                        <span>今日受理：<font class="blue">10</font> 件</span>
                    </div>
                </div>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    <thead bgcolor="#fef2eb">
                        <tr align="center">
                            <td>序号<hr></td>
                            <td>信件标题<hr></td>
                            <td>提交日期<hr></td>
                            <td>办理日期<hr></td>
                            <td>受理部门<hr></td>
                            <td>状态</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr><tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr><tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content_right">
            <div class="buttons">
                <div id="wxweibo" class="flexslider">
                    <ul class="slides">
                        <li>
                            <a class="btn btn-shadow green" href="" target="_blank"><img src="__IMG__/wx.png"></a>
                        </li>
                        <li>
                            <a class="btn btn-shadow green" href="" target="_blank">
                                <img src="__IMG__/weibo.png">
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="rank" class="flexslider">
                    <ul class="slides">
                        <li>
                            <a class="btn btn-shadow blue" href="" target="_blank"><img src="__IMG__/myd.png"></a>
                        </li>
                        <li>
                            <a class="btn btn-shadow blue" href="" target="_blank">
                                <img src="__IMG__/hfl.png">
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-shadow orange">微信微博发布</a>
            </div>
            <div class="cx">
                <form method="post" action="" target="_blank">
                    <input type="hidden" name="host" value="localhost">
                    <input class="text" name="keyword" type="text" placeholder="请输入关键词">
                    <input class="submit btn btn-warning" type="submit" value="">
                </form>
            </div>
            <div class="searchQues">
                <form method="GET" action="{:U('Index/respond_to_society')}" target="_blank">
                    <input type="hidden" name="host" value="localhost">
                    <input class="text" name="keyword" type="text" placeholder="请输入关键词">
                    <input class="submit btn btn-warning" type="submit" value="">
                </form>
            </div>
            <div class="keyword">
                <dl>
                    <dt><a href="">男子救女友后失恋</a></dt>
                    <dt><a href="">网曝周杰遭追债</a></dt>
                    <dt><a href="">浣熊敲门讨食</a></dt>
                    <dt><a href="">太阳鱼</a></dt>
                    <dt><a href="">千股涨停</a></dt>
                    <dt><a href="">流浪汉洗头</a></dt>
                    <dt><a href="">武警查获仿真枪</a></dt>
                </dl>
            </div>
        </div>
    </div>

    <!-- <div class="span9">
        <section id="contents">
            <article:list name="article" category="1" child="true">
                <div>
                    <h3><a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a></h3>
                </div>
                <div>
                    <p class="lead">{$article.description}</p>
                </div>
                <div>
                    <span><a href="{:U('Article/detail?id='.$article['id'])}">查看全文</a></span>
                    <span class="pull-right">
                        <span class="author">{$article.uid|get_username}</span>
                        <span>于 {$article.create_time|date='Y-m-d H:i',###}</span> 发表在 <span>
                        <a href="{:U('Article/lists?category='.get_category_name($article['category_id']))}">{$article.category_id|get_category_title}</a></span> ( 阅读：{$article.view} )
                    </span>
                </div>
                <hr/>
            </article:list>

        </section>
    </div> -->
</block>