<extend name="Base/common"/>
<block name="style">
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.css">
    <link href="__CSS__/select2.min.css" rel="stylesheet">
</block>

<block name="script">
    <script src="__JS__/select2.min.js"></script>
    <script src="__JS__/validator.js"></script>
</block> 

<block name="body">
    <div class="main-colum" style="height:1055px;margin-bottom:30px;">
        <div class="section">
            <div class="tip"><span class="danger">*</span> 代表必填项目，为便于我们联系调查，请如实填写个人资料。</div>
            <div class="clearfix">&nbsp;</div>
            <form method="POST" action="{:U('Ask/submit')}" enctype="multipart/form-data" class="questionForm" onsubmit="return validator(this);">
                <div class="form-group">
                    <label><span class="danger">*</span>姓名</label>
                    <input class="form-control" name="name" type="text" placeholder="姓名" tip="请输入您的中文姓名">
                </div>
                <div class="form-group">
                    <label><span class="danger">*</span>联系方式</label>
                    <br/>
                    <input class="form-control" name="tel" type="text" placeholder="您的手机号码"  tip="请输入正确的手机号码">
                </div>
                <div class="form-group">
                    <label><span class="danger">*</span>身份证</label>
                    <input class="form-control" name="sfz" type="text" placeholder="证件号码，用于以后查找您的留言" tip="请输入正确的证件号">
                </div>
                <div class="form-group">
                    <label><span class="danger">*</span>地址</label>
                    <input class="form-control" name="address" type="text" placeholder="您的地址" tip="请输入您的地址">
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="form-group">
                    <label><span class="danger">*</span>标题</label>
                    <input class="form-control" name="title" type="text" placeholder="标题" tip="请输入留言标题">
                </div>

                <div class="form-group level1">
                    <label>受理单位(选填)</label>
                    <select class="form-control select-box">
                        <option selected="selected">请选择</option>
                        <option value="1">省直单位</option>
                        <option value="2">地市</option>
                    </select>
                </div>
                <div class="form-group level2">
                    <select class="form-control select-box" name="uid">
                        <option selected="selected" value="">请选择</option>
                        <volist name="yjdw" id="vo">
                            <option value="{$vo.uid}">{$vo.nickname}</option>
                        </volist>
                    </select>
                </div>
                <div class="form-group">
                    <label>是否公开</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="public" value="1" checked="checked">是&nbsp;&nbsp;
                        </label>
                        <label>
                            <input type="radio" name="public" value="2">否
                        </label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label><span class="danger">*</span>内容</label>
                    <textarea class="form-control" name='content' type="text" placeholder="留言内容" tip="请输入留言内容"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">附件</label>
                    <input type="file">
                    <p class="help-block">
                    文件尺寸：小于 500 kb <br>
                    可用扩展名：jpg,bmp,gif,png,jpeg,doc</p>
                </div>

                <div class="form-group form-inline">
                    <label><span class="danger">*</span>验证码</label>
                    <br/>
                    <input class="form-control" name="yzm" type="text" style="width: 468px;" tip="请输入验证码！">
                    <a href="javascript:void(0);" class="btn btn-primary" id="yzm">获取短信验证码</a>
                </div>

                <div class="checkbox">
                    <label>
                        <input name="rule" type="checkbox" value="1" checked="">&nbsp;&nbsp;我已经阅读 <a class="danger" href="#" target="_blank" "">留言管理条例</a>
                    </label>
                </div>
                
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-shadow blue btn-submit">确认无误，提交</button>
                </div>

            </form>
        </div>
    </div>
</block>