<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>{:C('WEB_SITE_TITLE')}</title>

		<!-- <script>document.write('<script src="http://192.168.6.80:8080/livereload.js?snipver=1"></' + 'script>')</script> -->

		<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.css">
		<link href="__CSS__/base.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="__STATIC__/bootstrap/js/html5shiv.js"></script>
		<![endif]-->
		<block name="style"></block>
		<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
		<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
		{:hook('pageHeader')}
	</head>
	<body>
		<div class="top-nav">
		    <div class="container">
		        <div class="nav-link navbar-left">
		            <a href="http://www.gov.cn/" target="_blank">中国政府网</a>
		            |
		            <a href="http://www.ah.gov.cn/" target="_blank">安徽省政府网</a>
		            |
		            <a href="http://www.ahrd.gov.cn/" target="_blank">安徽省人大</a>
		            |
		            <a href="http://www.ahzx.gov.cn/" target="_blank">安徽省政协</a>
		        </div>
		        <div class="nav-link navbar-right">
		            <a href="" target="_blank">微信公众号</a>
		            |
		            <a href="" target="_blank">微博</a>
		            |
		            <a href="" target="_blank">分享</a>
		        </div>
		    </div>
		</div>
		<div class="container">
			<div class="header clearfix">
				<div class="logo pull-left">
					<img src="__IMG__/logo.png">
				</div>
				<div class="search pull-right">
					<form method="GET" action="{:U('Article/search')}">
						<input type="hidden" name="host" value="<?php echo $_SERVER['HTTP_HOST'];?>">
						<input class="text" class="form-control" name="keyword" type="text" placeholder="请输入关键词">
						<input class="submit btn btn-warning" type="submit" value="">
					</form>
				</div>
			</div>
			<nav class="nav">
				<ul>
					<li><a href="/" class="m01">首页</a></li>	
					<li><a href="{:U('Index/government_information')}" class="m02">政务信息公开</a></li>	
					<li><a href="{:U('Index/weixin_weibo')}" class="m03">微信微博大厅</a></li>	
					<li><a href="{:U('Index/respond_to_society')}" class="m04">回应社会关切</a></li>	
					<li><a href="{:U('Index/supervision_and_evaluation')}" class="m05">监督评价公开</a></li>	
				</ul>
			</nav>
			<!-- <div class="jumbotron">
				<h1>Jumbotron heading</h1>
				<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
			</div>
			<div class="row marketing">
				<div class="col-lg-6">
					<h4>Subheading</h4>
					<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
					<h4>Subheading</h4>
					<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
					<h4>Subheading</h4>
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
				</div>
				<div class="col-lg-6">
					<h4>Subheading</h4>
					<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
					<h4>Subheading</h4>
					<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
					<h4>Subheading</h4>
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
				</div>
			</div>
			<footer class="footer">
				<p>© Company 2014</p>
			</footer> -->
			<!-- 主体 -->
			<include file="Public/body"/>
			<!-- /主体 -->
		</div>

		<!-- 底部 -->
	    <footer class="footer">
	      	<div class="container">
				<div class="dzjg">
					<a href="">
						<img src="__IMG__/red.png">
					</a>
				</div>
	          	<p>主办单位：安徽省人民政府办公厅 承办单位：安徽省人民政府网站<br/>协办单位：安徽新媒体集团</p>
	          	<p>皖ICP备05003657号 | 网站编辑信箱 | 网站使用帮助 | 网站地图 | 联系方式：0551-62603315</p>
	      	</div>
	    </footer>
		<include file="Public/var"/>
		<block name="script"></block> 
		<div class="hidden">
			<block name="hidden"></block>
		</div>
		<!-- /底部 -->
	</body>
</html>