<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>{:C('WEB_SITE_TITLE')}</title>

        <!-- <script>document.write('<script src="http://192.168.6.80:8080/livereload.js?snipver=1"></' + 'script>')</script> -->

        <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.css">
        <link href="__CSS__/base.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="__STATIC__/bootstrap/js/html5shiv.js"></script>
        <![endif]-->
        <block name="style"></block>
        <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
        <!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
        {:hook('pageHeader')}
    </head>
    <body>
        <div class="top-nav">
            <div class="container">
                <div class="nav-link navbar-left">
                    <a href="http://www.gov.cn/" target="_blank">中国政府网</a>
                    |
                    <a href="http://www.ah.gov.cn/" target="_blank">安徽省政府网</a>
                    |
                    <a href="http://www.ahrd.gov.cn/" target="_blank">安徽省人大</a>
                    |
                    <a href="http://www.ahzx.gov.cn/" target="_blank">安徽省政协</a>
                </div>
                <div class="nav-link navbar-right">
                    <div class="bdsharebuttonbox">
                        <a href="#" class="bds_more" data-cmd="more">分享</a>
                    </div>
                    |
                    <a href="javascript:void(0);">
                        微信公众号
                        <img src="__IMG__/weixin_code.jpg">
                    </a>
                    |
                    <a href="javascript:void(0);">
                        微博
                        <img src="__IMG__/weibo_code.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header clearfix">
                <div class="logo pull-left">
                    <img src="__IMG__/logo.png">
                </div>
                <div class="search pull-right">
                    <form method="GET" action="{:U('Article/search')}">
                        <input type="hidden" name="host" value="<?php echo $_SERVER['HTTP_HOST'];?>">
                        <input class="text" class="form-control" name="keyword" type="text" placeholder="请输入关键词">
                        <input class="submit btn btn-warning" type="submit" value="">
                    </form>
                </div>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="/" class="m01">首页</a></li> 
                    <li><a href="{:U('Index/government_information')}" class="m02">政务信息公开</a></li>  
                    <li><a href="{:U('Index/weixin_weibo')}" class="m03">微信微博大厅</a></li>    
                    <!-- <li><a href="{:U('Index/respond_to_society')}" class="m04">回应社会关切</a></li>   -->

                    <li><a href="http://www.ah.gov.cn/Tmp/Nav_shengchangxinxiang.shtml?SS_ID=315&action=show" class="m04" target="_blank">回应社会关切</a></li>  

                    <!-- <li><a href="{:U('Index/supervision_and_evaluation')}" class="m05">监督评价公开</a></li>   -->
                </ul>
            </nav>
            <!-- 主体 -->
            <include file="Public/body"/>
            <!-- /主体 -->
        </div>

        <!-- 底部 -->
        <footer class="footer">
            <div class="container">
                <div class="dzjg">
                    <script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript   src='http://dcs.conac.cn/js/13/000/0000/42000111/CA130000000420001110001.js' type='text/javascript'%3E%3C/script%3E"));</script>
                </div>
                <p style="margin-top: 15px;">主办单位：安徽省人民政府办公厅 承办单位：安徽省人民政府网站 协办单位：安徽新媒体集团</p>
                <p><a href="http://www.miibeian.gov.cn" target="_blank">皖ICP备05003657号</a> | <a href="http://www.ah.gov.cn/Tmp/Nav_nav.shtml?SS_ID=465" target="_blank">网站编辑信箱</a> | <a href="http://www.ah.gov.cn/UserData/SortHtml/1/18600594466.html" target="_blank">网站使用帮助</a> | <a href="http://www.ah.gov.cn/UserData/SortHtml/1/78794686400.html" target="_blank">网站地图</a> | 联系方式：0551-62603315</p>
            </div>
        </footer>
        <include file="Public/var"/>
        <block name="script">
        </block> 
        <div class="hidden">
            <block name="hidden"></block>
        </div>
        <!-- /底部 -->
    </body>
</html>