<div class="content_right siderbar">
    <div class="lyxd">
        <h3>
            <span></span>安徽要闻
            <hr/>
            <a href="" class="more">更多>></a>
        </h3>
        <ul>
            <volist name="ahyw" id="article" offset="0" length="10">
                <li><a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a></li>
            </volist>
        </ul>
    </div>

    <div class="lyxd">
        <h3>
            <span></span>政策动态
            <hr/>
            <a href="" class="more">更多>></a>
        </h3>
        <ul>
            <volist name="zcdt" id="article" offset="0" length="10">
                <li><a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a></li>
            </volist>
        </ul>
    </div>
    <div class="lyxd">
        <h3>
            <span></span>江淮资讯
            <hr/>
            <a href="" class="more">更多>></a>
        </h3>
        <ul>
            <volist name="jhzx" id="article" offset="0" length="10">
                <li><a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a></li>
            </volist>
        </ul>
    </div>

</div>