<div class="content_right siderbar">

    <iframe width="100%" style="width:100%; height:500px;"  frameborder="0" scrolling="no" src="http://widget.weibo.com/livestream/listlive.php?language=zh_cn&width=0&height=500&uid=1649446091&skin=1&refer=1&appkey=&pic=0&titlebar=1&border=1&publish=1&atalk=1&recomm=0&at=0&atopic=%E8%B0%83%E8%BD%AC%E4%BF%83&ptopic=%E8%B0%83%E8%BD%AC%E4%BF%83&dpc=1"></iframe>

    <php>
        $wft = D('Document')->limit(1)->lists(49,$order='level DESC');
        $wjd = D('Document')->limit(1)->lists(48,$order='level DESC');
    </php>

    <div class="lyxd">
        <h3>
            <span></span>微访谈
            <hr/>
            <a href="{:U('Article/lists?category=49')}" class="more" target="_blank">更多></a>
        </h3>
        <volist name="wft" id="vo" offset="0" length="1">
        <div class="imgbox">
            <a href="{$vo.link_id}" target="_blank"><img src="{$vo['cover_id']|get_cover='path'}"></a>
        </div>
        <a href="" class="text">
            {$vo.description}
        </a>
        </volist>
    </div>
    <div class="lyxd">
        <h3>
            <span></span>微焦点
            <hr/>
            <a href="{:U('Article/lists?category=50')}" class="more" target="_blank">更多></a>
        </h3>
        <volist name="wjd" id="vo" offset="0" length="1">
        <div class="imgbox">
            <a href="{$vo.link_id}" target="_blank"><img src="{$vo['cover_id']|get_cover='path'}"></a>
        </div>
        <a href="{$vo.link_id}" class="text" target="_blank">
            {$vo.description}
        </a>
        </volist>
    </div>

</div>