<div class="content_right siderbar">
    <div class="buttons">
        <a href="/Ask/question.html" target="_blank" class="btn btn-shadow orange">我要提问</a>
    </div>
    <div class="cx">
        <form method="POST" action="{:U('Ask/search')}" target="_blank">
            <input type="hidden" name="host" value="localhost">
            <input class="text" name="keyword" type="text" placeholder="请输入预留身份证号查询">
            <input class="submit btn btn-warning" type="submit" value="">
        </form>
    </div>
    <div class="searchQues">
        <form method="GET" action="{:U('Index/respond_to_society')}" target="_blank">
            <input type="hidden" name="host" value="localhost">
            <input class="text" name="keyword" type="text" placeholder="请输入关键词">
            <input class="submit btn btn-warning" type="submit" value="">
        </form>
    </div>
    <div class="keyword">
        <dl>
            <php> $hotkeys = explode(";",C('HOTKEY'));</php>
            <volist name="hotkeys" id="vo">
                <dt><a href="{:U('Index/respond_to_society',array('keyword'=>$vo) )}">{$vo}</a></dt>
            </volist>
        </dl>
    </div>
    <?php if ( ACTION_NAME == 'respond_to_society' ) { ?>
    <div class="lyxd">
        <h3>
            <span></span>留言选登
            <hr/>
            <a href="" class="more">更多>></a>
        </h3>
        <ul>
            <volist name="lists" id="vo" offset="0" length="10">
                <li><a href="{:U('Article/ask_detail?id='.$vo['id'])}">{$vo.title}</a></li>
            </volist>
        </ul>
    </div>
    <?php } else if ( ACTION_NAME == 'supervision_and_evaluation' ) { ?>
    <div class="lyxd">
        <h3>
            <span></span>简报
            <hr/>
            <a href="" class="more">更多>></a>
        </h3>
        <ul>
            <!-- <article:list name="article" category="1" child="true">
                <div class="">
                    <h3><a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a></h3>
                </div>
                <div>
                    <p class="lead">{$article.description}</p>
                </div>
                <div>
                    <span><a href="{:U('Article/detail?id='.$article['id'])}">查看全文</a></span>
                    <span class="pull-right">
                        <span class="author">{$article.uid|get_username}</span>
                        <span>于 {$article.create_time|date='Y-m-d H:i',###}</span> 发表在 <span>
                        <a href="{:U('Article/lists?category='.get_category_name($article['category_id']))}">{$article.category_id|get_category_title}</a></span> ( 阅读：{$article.view} )
                    </span>
                </div>
                <hr/>
            </article:list> -->
            <volist name="news" id="article" offset="0" length="10">
                <li><a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a></li>
            </volist>
        </ul>
    </div>
    <?php } else { ?>

    <?php } ?>

</div>