@charset "utf-8";
*{
	font-size:14px;
}

html, body, div, object, pre, code, h1, h2, h3, h4, h5, h6, p, span, em,

	cite, del, a, img, ul, li, ol, dl, dt, dd, fieldset, legend, form,

	input, button, textarea, header, section, footer, article, nav, aside,

	menu, figure, figcaption {
	font-family: "微软雅黑";

	margin: 0;

	padding: 0;

	outline: none

}

h1, h2, h3, h4, h5, h6, sup {

	font-size: 100%;

	font-weight: normal

}
ol, ul, li {

	

}
img{
	display: block;
}
#all{
	width:100%;
}
#all .content{
	
	overflow: hidden;
}
.content .news h1{
	padding-left:5%;
	height:40px;
	line-height: 40px;
	font-size:20px;
	color:white;
	background-color: #f59c0a
}
.content .news ul{
	padding:4px 0;

}
.content .news ul li{
	width:95%;
	height:30px;
	list-style-type: square;
	list-style-position: inside;
	line-height: 30px;
	padding-left: 5%;
	
}
