<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/yx_rotaion.css" rel="stylesheet">
    <link href="__CSS__/flexslider.css" rel="stylesheet">
    <link href="__CSS__/reveal.css" rel="stylesheet">
</block>  
<block name="body">
    <div class="main-colum">
        <div class="slider">
            <div class="yx-rotaion">
                <ul class="rotaion_list">
                    <volist name="slider" id="vo">
                        <li>
                            <a href="{:U('Article/detail',array('id'=>$vo['id']))}" title="{$vo.title}" target="_blank"><img src="{:get_cover($vo['cover_id'],$field = path)}" alt="{$vo.title}"></a>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>

        <div class="right_list news">
            <ul>
                <volist name="lists" id="vo">
                    <li>
                        <div class="txt">
                            <a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">{$vo.title}</a><span>({$vo.create_time|date='m-d',###})</span>
                        </div>
                        <lt name="i" value="5">
                        <div class="line"></div>
                        </lt>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
    <div class="contents">
        <div class="content_left">
            <div class="leftAreaContent">
                <div class="tabmenu">
                    <ul id="menuLink">
                        <li><a href="{:U('Article/lists?category=48')}" target="_blank" class="active" data-link="wjd">微焦点</a></li>
                        <li><a href="{:U('Article/lists?category=49')}" target="_blank" data-link="wft">微访谈</a></li>
                        <li><a href="{:U('Article/lists?category=50')}" target="_blank" data-link="whd">微活动</a></li>
                    </ul>
                </div>
                <div id="wjd" class="menuContent active">
                    <volist name="wjd" id="vo" offset="0" length="1">
                        <div class="wei-focus">
                            <div class="pull-left">
                                <a href="{$vo.link_id}" target="_blank"><img alt="" src="{$vo['cover_id']|get_cover='path'}"></a>
                            </div>
                            <div class="ct pull-left">
                                <p>
                                    <a href="{$vo.link_id}" target="_blank">
                                        {$vo.title}
                                    </a>
                                </p>
                                <div class="tool clearfix">
                                    <span>{$vo.description}</span>
                                </div>
                           </div>
                        </div>
                    </volist>
                    <div class="clearfix"></div>
                    <ul>
                        <volist name="wjd" id="vo" offset="1" length="5">
                            <li>
                                <a href="{$vo.link_id}" target="_blank">{$vo.title}</a><span>({$vo.create_time|date='m-d',###})</span>
                            </li>
                        </volist>
                    </ul>
                </div>
                <div id="wft" class="menuContent">
                    <volist name="wft" id="vo" offset="0" length="1">
                        <div class="wei-focus">
                            <div class="pull-left">
                                <a href="{$vo.link_id}" target="_blank"><img alt="" src="{$vo['cover_id']|get_cover='path'}"></a>
                            </div>
                            <div class="ct pull-left">
                                <p>
                                    <a href="{$vo.link_id}" target="_blank">
                                        {$vo.title}
                                    </a>
                                </p>
                                <div class="tool clearfix">
                                    <span>{$vo.description}</span>
                                </div>
                           </div>
                        </div>
                    </volist>
                    <div class="clearfix"></div>
                    <ul>
                        <volist name="wft" id="vo" offset="1" length="5">
                            <li>
                                <a href="{$vo.link_id}" target="_blank">{$vo.title}</a><span>({$vo.create_time|date='m-d',###})</span>
                            </li>
                        </volist>
                    </ul>
                </div>
                <div id="whd" class="menuContent wei-focus">
                    <ul>
                        <volist name="whd" id="vo" offset="0" length="2">
                            <li class="clearfix item">
                                <div class="pull-left">
                                    <a href="{$vo.link_id}" target="_blank"><img alt="" src="{$vo['cover_id']|get_cover='path'}"></a>
                                </div>
                                <div class="ct pull-left">
                                    <p>
                                        <a href="{$vo.link_id}" target="_blank">
                                            {$vo.title}
                                        </a>
                                    </p>
                                    <div class="tool clearfix">
                                      <div class="pull-left cr666">{$vo.create_time|date='Y-m-d',###} 来自<span class="cr0388f8"> {$vo.source}</span></div><div class="pull-right"></div>
                                    </div>
                               </div>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
            <div class="rightAreaContent">
                <div class="tabmenu">
                    <ul>
                        <li><a class="active">各市人民政府</a></li>
                    </ul>
                    <a href="javascript:void(0);" class="more" data-reveal-id="rmzf">更多</a>
                </div>
                <div class="cityContent showBox zf">
                    <ul>
                        <volist name="zf" id="vo" offset="0">
                            <li><a href="javascript:void(0);" data-id="{$vo.uid}">{$vo.nickname}</a></li>
                        </volist>
                    </ul>
                </div>
                <div class="tabmenu">
                    <ul>
                        <li><a class="active">省直厅局</a></li>
                    </ul>
                    <a href="javascript:void(0);" class="more" data-reveal-id="sztj">更多</a>
                </div>
                <div class="cityContent showBox sz">
                    <ul>
                        <volist name="sz" id="vo" offset="0" length="6">
                            <li><a href="javascript:void(0);" data-id="{$vo.uid}">{$vo.nickname}</a></li>
                        </volist>
                        <a href="javascript:void(0);" class="more" data-reveal-id="sztj">更多</a>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="lyTable">
                <div class="tabmenu">
                    <ul>
                        <!-- <li><a href="{:U('Index/respond_to_society')}" target="_blank" class="active">省长信箱回复选登</a></li> -->
                        <li><a href="http://www.ah.gov.cn/Tmp/Nav_shengchangxinxiang.shtml?SS_ID=315&action=show" target="_blank" class="active">省长信箱回复选登</a></li>
                    </ul>
                    <div class="lyDetail">
                        <span>留言总数：<font class="blue">1633</font></span>
                        <!-- <span>留言总数：<font class="blue">{$ly_count}</font></span> -->
                        <!-- <span>受理总数：<font class="blue">{$sl_count}</font> 件</span> -->
                        <!-- <span>今日受理：<font class="blue">{$td_count}</font> 件</span> -->
                    </div>
                </div>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    <thead bgcolor="#fef2eb">
                        <tr align="center">
                            <td>序号<hr></td>
                            <td>信件标题<hr></td>
                            <td>提交日期<hr></td>
                            <td>办理日期<hr></td>
                            <td>回复部门<hr></td>
                            <!-- <td>受理部门<hr></td> -->
                            <td>状态</td>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="asks" id="vo">
                            <tr align="center">
                                <td class="black12">WEB{$vo.id}</td>
                                <td><a href="{:U('Ask/detail',array('id'=>$vo['id']))}">{$vo.title|msubstr=0,18,'utf-8',false}</a></td>
                                <td class="black12">{$vo.create_time|time_format}</td>
                                <td class="black12">
                                    <?php if ($vo['finish_time']) { ?>
                                        {$vo.finish_time|time_format}
                                    <?php } ?>
                                </td>
                                <td>{$vo.nickname}</td>
                                <td class="orange">
                                    <php>$types = C('STATUS');</php>
                                    <?php if ( is_null ($vo['uid']) ) { ?>
                                        待办理
                                    <?php }else{ ?>
                                        {$types[$vo['status']]}
                                    <?php } ?>
                                </td>
                            </tr>
                        </volist>
                        <volist name="ask" id="vo">
                            <tr align="center">
                                <td class="black12">WEB{$vo.id}</td>
                                <td><a href="{$vo.linkurl}" target="_blank">{$vo.title|msubstr=0,18,'utf-8',false}</a></td>
                                <td class="black12">{$vo.tjdate}</td>
                                <td class="black12">
                                        {$vo.hfdate}
                                </td>
                                <td>{$vo.hfdw}</td>
                                <td class="orange">
                                    已办理
                                </td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content_right">
            <div class="buttons">
                <a class="btn btn-shadow green" href="http://www.ah.gov.cn/UserData/SortHtml/1/41983620158.html" target="_blank"><img src="__IMG__/szxx.png"></a>

                <a class="btn btn-shadow blue" href="http://www.ah.gov.cn/UserData/SortHtml/1/80382210159.html" target="_blank"><img src="__IMG__/tjxx.png"></a>

                <a class="btn btn-shadow reo" href="http://www.ah.gov.cn/UserData/SortHtml/1/61417061160.html" target="_blank"><img src="__IMG__/gsxx.png"></a>

                <a href="{:U('Ask/question')}" target="_blank" class="btn btn-shadow orange">我要提问</a>

                <!-- <div id="wxweibo" class="flexslider">
                    <ul class="slides">
                        <li>
                            <a class="btn btn-shadow green" href="{:U('Index/weixin_weibo')}" target="_blank"><img src="__IMG__/wx.png"></a>
                        </li>
                        <li>
                            <a class="btn btn-shadow green" href="{:U('Index/weixin_weibo')}" target="_blank">
                                <img src="__IMG__/weibo.png">
                            </a>
                        </li>
                    </ul>
                </div> -->
                <!-- <div id="rank" class="flexslider">
                    <ul class="slides">
                        <li>
                            <a class="btn btn-shadow blue" href="{:U('Index/supervision_and_evaluation')}" target="_blank"><img src="__IMG__/myd.png"></a>
                        </li>
                        <li>
                            <a class="btn btn-shadow blue" href="{:U('Index/supervision_and_evaluation')}" target="_blank">
                                <img src="__IMG__/hfl.png">
                            </a>
                        </li>
                    </ul>
                </div> -->
                
            </div>
            <div class="cx">
                <form method="POST" action="{:U('Ask/search')}" target="_blank">
                    <input type="hidden" name="host" value="localhost">
                    <input class="text" name="keyword" type="text" placeholder="请输入预留身份证号查询">
                    <input class="submit btn btn-warning" type="submit" value="">
                </form>
            </div>
            <div class="searchQues">
                <form method="GET" action="{:U('Index/respond_to_society')}" target="_blank">
                    <input type="hidden" name="host" value="localhost">
                    <input class="text" name="keyword" type="text" placeholder="请输入关键词">
                    <input class="submit btn btn-warning" type="submit" value="">
                </form>
            </div>
            <div class="keyword">
                <dl>
                    <php> $hotkeys = explode(";",C('HOTKEY'));</php>
                    <volist name="hotkeys" id="vo">
                        <dt><a href="{:U('Index/respond_to_society',array('keyword'=>$vo) )}" target="_blank">{$vo}</a></dt>
                    </volist>
                </dl>
            </div>
        </div>     
    </div>
    <div class="reveal-modal float-box showBox"  id="rmzf">
        <ul>
            <volist name="zf" id="vo">
                <li><a href="javascript:void(0);" data-id="{$vo.uid}">{$vo.nickname}</a></li>
            </volist>
        </ul>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    <div class="reveal-modal float-box showBox"  id="sztj">
        <ul>
            <volist name="sz" id="vo">
                <li><a href="javascript:void(0);" data-id="{$vo.uid}">{$vo.nickname}</a></li>
            </volist>
        </ul>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    <div class="link-info">
        <em></em>
        <h1>合肥市</h1>
        <ul>
            <li class="weibo">
                <a href="" target="_blank"><img src=""></a>
                <br>
                <span>官方微博</span>
            </li>
            <li class="weixin">
                <img src="">
                <br>
                <span>官方微信<br>（手机扫一扫）</span>
            </li>
        </ul>
    </div>
</block>
<block name="script">
    <script src="__JS__/jquery-migrate-1.2.1.js"></script>
    <script src="__JS__/jquery.yx_rotaion.js"></script>
    <script src="__JS__/jquery.flexslider-min.js"></script>
    <script src="__JS__/jquery.reveal.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".yx-rotaion").yx_rotaion({auto:true,height:"330px",width:"720px"});
            $("#menuLink li a").hover(function() {
                $("#menuLink li a").removeClass("active");
                $(this).addClass("active");
                $(".menuContent").removeClass("active");
                $("#"+$(this).data("link")).addClass("active");
            });
            $('#wxweibo').flexslider({       
                slideshow:true,
                slideshowSpeed: 3000, 
                animation: "slide",
                direction:"horizontal",
                easing:"swing",
                controlNav: false,
                directionNav:true
            });
            $('#rank').flexslider({       
                slideshow:true,
                slideshowSpeed: 4000, 
                animation: "slide",
                direction:"horizontal",
                easing:"swing",
                controlNav: false,
                directionNav:true
            });
            $(".showBox li").mouseenter(function () {
                var top = $(this).offset().top;
                var left = $(this).offset().left;
                var width = $(this).width();
                var data = eval(Think.DATA);
                var id = $(this).find("a").data("id");
                if (id) {
                    var this_attr = '';
                    for (var i = 0; i <= data.length - 1; i++) {
                        if (data[i]["uid"] == id) {
                            this_attr = data[i];
                        }
                    }
                    if (this_attr) {
                        $(".link-info h1").text(this_attr.name);

                        if (this_attr.weixin) {
                            $(".link-info .weixin img").attr("src",this_attr.weixin);
                            $(".link-info .weixin").show();
                        }else {
                            $(".link-info .weixin").hide();
                        }


                        if (this_attr.weibo) {
                            $(".link-info .weibo img").attr("src",this_attr.weibo);
                            $(".link-info .weibo a").attr("href",this_attr.weibo_link);
                            $(".link-info .weibo").show();
                        }else {
                            $(".link-info .weibo").hide();
                        }
                        
                        $(".link-info").show();
                        $(".link-info").css("top",top-220+"px");
                        $(".link-info").css("left",left+width/2-120+"px");
                    }
                }
            })
            $(".showBox li").mouseleave(function () {
                $(".link-info").hide();
            })
            $(".link-info").mouseenter(function () {
                $(this).show();
            })
            $(".link-info").mouseleave(function () {
                $(this).hide();
                $(".link-info h1").text("");
                $(".link-info .weixin img").attr("src","");
                $(".link-info .weibo img").attr("src","");
                $(".link-info .weibo a").attr("href","");
            })
        })
    </script>
</block>