<extend name="Base/common"/>
<block name="header">
    <!-- <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header> -->
</block>

<block name="style">
    <link href="__CSS__/yx_rotaion.css" rel="stylesheet">
</block> 
<block name="script">
    <script src="__JS__/jquery-migrate-1.2.1.js"></script>
    <script src="__JS__/jquery.yx_rotaion.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".yx-rotaion").yx_rotaion({auto:true});
        })
    </script>
</block> 
<block name="side">
<!-- 左侧 nav
================================================== -->
    <!-- <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div> -->
</block>

<block name="body">
    <div class="main-colum">
        <div class="slider">
            <div class="yx-rotaion">
                <ul class="rotaion_list">
                    <li><a href=""><img src="http://pic.pub.anhuinews.com/0/04/04/18/4041804_858789.jpg" alt="高校行启动仪式"></a></li>
                    <li><a href=""><img src="http://pic.pub.anhuinews.com/0/04/04/17/4041769_995451.jpg" alt="安徽大学"></a></li>
                    <li><a href=""><img src="http://pic.pub.anhuinews.com/0/04/04/17/4041771_500882.jpg" alt="合肥工业大学"></a></li>
                    <li><a href=""><img src="http://pic.pub.anhuinews.com/0/04/04/20/4042089_940384.jpg" alt="合肥师范学院"></a></li>
                    <li><a href=""><img src="http://pic.pub.anhuinews.com/0/04/04/17/4041770_457678.jpg" alt="巢湖学院"></a></li>
                </ul>
            </div>
        </div>

        <div class="right_list">
            

        </div>
    </div>
    <!-- <div class="span9">
        <section id="contents">
            <article:list name="article" category="1" child="true">
                <div class="">
                    <h3><a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a></h3>
                </div>
                <div>
                    <p class="lead">{$article.description}</p>
                </div>
                <div>
                    <span><a href="{:U('Article/detail?id='.$article['id'])}">查看全文</a></span>
                    <span class="pull-right">
                        <span class="author">{$article.uid|get_username}</span>
                        <span>于 {$article.create_time|date='Y-m-d H:i',###}</span> 发表在 <span>
                        <a href="{:U('Article/lists?category='.get_category_name($article['category_id']))}">{$article.category_id|get_category_title}</a></span> ( 阅读：{$article.view} )
                    </span>
                </div>
                <hr/>
            </article:list>

        </section>
    </div> -->
</block>