<extend name="Base/common"/>
<block name="style"></block>
<block name="script"></block>
<block name="body">
    <div class="main-colum sae">
        <div class="navigation">
            当前位置：<a href="/" target="_blank">首页</a>&nbsp;>&nbsp;<span>回应社会关切</span>
            <div class="topDate">
                <php>$days = array('星期天','星期一','星期二','星期三','星期四','星期五','星期六');$today = date('w');</php>
                <php>echo date(Y年m月d日);</php> <php>echo $days[$today];</php>
            </div>
        </div>
        <div class="section">
            <div class="tabmenu">
                <ul>
                    <li><a class="active">最新留言</a></li>
                </ul>
            </div>
            <div class="lyTable">
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    <thead bgcolor="#fef2eb">
                        <tr align="center">
                            <td>序号<hr></td>
                            <td>信件标题<hr></td>
                            <td>提交日期<hr></td>
                            <td>办理日期<hr></td>
                            <td>受理部门<hr></td>
                            <td>状态</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>
                        <tr align="center">
                          <td class="black12">WEB271</td>
                          <td><a href="">达州至安康高速铁路</a></td>
                          <td class="black12">2015-11-01</td>
                          <td class="black12">2015-11-01</td>
                          <td>达州</td>
                          <td class="orange">待办理</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            
        </div>
        <include file="Base/side"/>
    </div>
</block>