<extend name="Base/common"/>
<block name="style"></block>
<block name="script"></block>
<block name="body">
    <div class="main-colum sae">
        <div class="navigation">
            当前位置：<a href="/">首页</a>&nbsp;>&nbsp;<span>回应社会关切</span>
            <div class="topDate">
                <php>echo date(Y年m月d日);</php> <php>echo $days[$today];</php>
            </div>
        </div>
        <div class="section">
            <div class="tabmenu">
                <ul>
                    <li>
                        <a class="active">
                        <?php if (!$keyword) { ?>
                        最新留言
                        <?php }else { ?>
                            '{$keyword}' 相关留言
                        <?php } ?>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="lyTable">
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    <thead bgcolor="#fef2eb">
                        <tr align="center">
                            <td>序号<hr></td>
                            <td>信件标题<hr></td>
                            <td>提交日期<hr></td>
                            <td>办理日期<hr></td>
                            <td>受理部门<hr></td>
                            <td>状态</td>
                        </tr>
                    </thead>
                    <tbody>
                    <notempty name="ask">
                        <volist name="ask" id="vo">
                            <tr align="center">
                                <td class="black12">WEB{$vo.id}</td>
                                <td><a href="{:U('Ask/detail',array('id'=>$vo['id']))}">{$vo.title|msubstr=0,18,'utf-8',false}</a></td>
                                <td class="black12">{$vo.create_time|time_format}</td>
                                <td class="black12">
                                    <?php if ($vo['finish_time']) { ?>
                                        {$vo.finish_time|time_format}
                                    <?php } ?>
                                </td>
                                <td>{$vo.nickname}</td>
                                <td class="orange">
                                    <php>$types = C('STATUS');</php>
                                    <?php if ( is_null ($vo['uid']) ) { ?>
                                        待办理
                                    <?php }else{ ?>
                                        {$types[$vo['status']]}
                                    <?php } ?>
                                </td>
                            </tr>
                        </volist>
                    <else/>
                        <tr>
                            <td colspan="10" class="text-center"> 暂时还没有内容! </td>
                        </tr>
                    </notempty>
                    </tbody>
                </table>
            </div>
            
        </div>
        <include file="Base/side"/>
    </div>
</block>