<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/yx_rotaion.css" rel="stylesheet">
</block>
<block name="script">
    <script src="__JS__/jquery-migrate-1.2.1.js"></script>
    <script src="__JS__/jquery.yx_rotaion.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".yx-rotaion").yx_rotaion({auto:true,height:"290px",width:"620px"});
            $(".fb li").mouseenter(function () {
                var top = $(this).offset().top;
                var left = $(this).offset().left;
                var width = $(this).width();
                var data = eval(Think.DATA);
                var id = $(this).find("a").data("id");
                if (id) {
                    var this_attr = '';
                    for (var i = 0; i <= data.length - 1; i++) {
                        if (data[i]["uid"] == id) {
                            this_attr = data[i];
                        }
                    }
                    if (this_attr) {
                        $(".link-info h1").text(this_attr.name);
                        $(".link-info .weixin img").attr("src",this_attr.weixin);
                        $(".link-info .weibo img").attr("src",this_attr.weibo);
                        $(".link-info .weibo a").attr("href",this_attr.weibo_link);
                        $(".link-info").show();
                        $(".link-info").css("top",top-220+"px");
                        $(".link-info").css("left",left+width/2-120+"px");
                    }
                }
            })
            $(".fb li").mouseleave(function () {
                $(".link-info").hide();
            })
            $(".link-info").mouseenter(function () {
                $(this).show();
            })
            $(".link-info").mouseleave(function () {
                $(this).hide();
                $(".link-info h1").text("");
                $(".link-info .weixin img").attr("src","");
                $(".link-info .weibo img").attr("src","");
                $(".link-info .weibo a").attr("href","");
            })
        });
    </script>
</block>
<block name="body">
    <div class="main-colum sae">
        <div class="navigation">
            当前位置：<a href="/">首页</a>&nbsp;>&nbsp;<span>微信微博</span>
            <div class="topDate">
                <php>echo date(Y年m月d日);</php> <php>echo $days[$today];</php>
            </div>
        </div>
        <div class="section">
            <div class="yx-rotaion">
                <php>
                    $sliders = get_slider(45);
                </php>
                <ul class="rotaion_list">
                    <volist name="sliders" id="vo">
                        <li>
                            <a href="{$vo.href}" title="{$vo.title}" target="_blank"><img src="{:get_cover($vo['cover_id'],$field = path)}" alt="{$vo.title}"></a>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="dt">
                <div class="tabmenu">
                    <ul>
                        <li><a class="active">厅局</a></li>
                    </ul>
                </div>
                <ol class="fb">
                    <volist name="sz" id="vo">
                        <li><a href="javascript:void(0);" data-id="{$vo.uid}">{$vo.nickname}</a></li>
                    </volist>
                </ol>
            </div>

            <div class="dt">
                <div class="tabmenu">
                    <ul>
                        <li><a class="active">各市</a></li>
                    </ul>
                </div>
                <ol class="fb">
                    <volist name="zf" id="vo">
                        <li><a href="javascript:void(0);" data-id="{$vo.uid}">{$vo.nickname}</a></li>
                    </volist>
                </ol>
            </div>
        </div>
        <div class="link-info">
            <em></em>
            <h1>合肥市</h1>
            <ul>
                <li class="weibo">
                    <a href="" target="_blank"><img src=""></a>
                    <br>
                    <span>官方微博</span>
                </li>
                <li class="weixin">
                    <img src="">
                    <br>
                    <span>官方微信<br>（手机扫一扫）</span>
                </li>
            </ul>
        </div>
        <include file="Base/side_weixinweibo"/>
    </div>
</block>