<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>网站设置</h2>
	</div>
		<div class="tab-wrap">
		<ul class="tab-nav nav">
		<volist name="Think.config.CONFIG_GROUP_LIST" id="group">

			<li <eq name="id" value="$key">class="current"</eq>><a href="{:U('?id='.$key)}">{$group}配置</a></li>

		</volist>
		</ul>
		<div class="tab-content">
	<form action="{:U('save')}" method="post" class="form-horizontal">
	<volist name="list" id="config">
		<div class="form-item">
			<label class="item-label">{$config.title}<span class="check-tips">（{$config.remark}）</span> </label>
			<div class="controls">
			<switch name="config.type">
			<case value="0">
			<input type="text" class="text input-small" name="config[{$config.name}]" value="{$config.value}">
			</case>
			<case value="1">
			<input type="text" class="text input-large" name="config[{$config.name}]" value="{$config.value}">
			</case>
			<case value="2">
			<label class="textarea input-large">
				<?php if ($config["name"] == "DF_MB") { ?>
				<textarea name="config[{$config.name}]" id="dfmb">{$config.value}</textarea>
				<link rel="stylesheet" href="/Public/static/kindeditor/default/default.css">
				<script charset="utf-8" src="/Public/static/kindeditor/kindeditor-min.js"></script>
				<script charset="utf-8" src="/Public/static/kindeditor/zh_CN.js"></script>
				<script type="text/javascript">
					var editor_dfmb;
					KindEditor.ready(function(K) {
						editor_dfmb = K.create('textarea[id="dfmb"]', {
							allowFileManager : true,
							themesPath: K.basePath,
							width: '100%',
							height: '260px',
							resizeType: 1,
							pasteType : 2,
							urlType : 'absolute',
							fileManagerJson : '/admin.php?s=/Config/fileManagerJson.html',
							//uploadJson : '/admin.php?s=/Config/uploadJson.html' }
							uploadJson : '/admin.php?s=/Addons/execute/_addons/EditorForAdmin/_controller/Upload/_action/ke_upimg.html',
							items : ['source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'cut', 'copy', 'paste',
								'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
								'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
								'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '|',
								'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
								'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
								'table', 'hr', 'emoticons', 'map',  'pagebreak', 'anchor', 'link', 'unlink', '|', 'about'
							],
							extraFileUploadParams: {
								session_id : 'osvvst495p5pjuft5shh5hppv1'
		                    }
						});
					});

					$(function(){
						//传统表单提交同步
						$('textarea[name="config[DF_MB]"]').closest('form').submit(function(){
							editor_dfmb.sync();
						});
						//ajax提交之前同步
						$('button[type="submit"],#submit,.ajax-post,#autoSave').click(function(){
							editor_dfmb.sync();
						});
					})
				</script>
				<?php }else { ?>
				<textarea name="config[{$config.name}]">{$config.value}</textarea>
				<?php } ?>
			</label>
			</case>
			<case value="3">
			<label class="textarea input-large">
				<textarea name="config[{$config.name}]">{$config.value}</textarea>
			</label>
			</case>
			<case value="4">
			<select name="config[{$config.name}]">
				<volist name=":parse_config_attr($config['extra'])" id="vo">
					<option value="{$key}" <eq name="config.value" value="$key">selected</eq>>{$vo}</option>
				</volist>
			</select>
			</case>
			</switch>
				
			</div>
		</div>
		</volist>
		<div class="form-item">
			<label class="item-label"></label>
			<div class="controls">
				<empty name="list"><button type="submit" disabled class="btn submit-btn disabled" target-form="form-horizontal">确 定</button><else/><button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button></empty>
				
				<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
			</div>
		</div>
	</form>
			</div>
	</div>
</block>

<block name="script">

</block>
