<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>便民服务</title>
	<meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="__CSS__/weixin/css1.css">
	<style type="text/css">
	html{
		width:100%;
		height:100%;
	}
	body{
		width:100%;
		height:100%;
	}
	.content{
			background-image: url(__IMG__/weixin/a.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.content p{
		height:30px;
		line-height: 30px;
	}
	</style>
</head>
<body>
	<div class="content">
		<ul>
			<a href="http://www.baidu.com">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>便民服务大查询</p>
				</li>
			</a>
			<a href="#">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>交通违章查询</p>
				</li>
			</a>
			<a href="#">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>便民服务</p>
				</li>
			</a>
			<a href="#">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>便民服务</p>
				</li>
			</a>
			<a href="#">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>便民服务</p>
				</li>
			</a>
			<a href="#">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>便民服务</p>
				</li>
			</a>
			<a href="#">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>便民服务</p>
				</li>
			</a>
			<a href="#">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>便民服务</p>
				</li>
			</a>
			<a href="#">
				<li>
					<img src="__IMG__/weixin/bianmin-bg.png">
					<p>便民服务</p>
				</li>
			</a>
		</ul>
	</div>
</body>
</html>