@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("../images/bg.jpg") no-repeat;
    background-position:top;
}
.top-nav .container {
    width: 95%;
}
.container {
    width: 1030px;
}
.innerblock ul {
    margin-top: 20px;
    border-bottom: 2px solid #626262;
}

.innerblock ul li {
    display: inline-block;
    height: 30px;
    color: #535353;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    *display: inline;
    *zoom: 1;
}

.innerblock ul li:hover,
.innerblock ul li a:hover {
    background: #626262;
    color: white;
    cursor: pointer;
}

.tabmenu .active {
    background: #626262;
    color: #fff;
    color: white !important;
}

.jumbotron {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #378503;
    background: -moz-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: -webkit-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: -o-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: -ms-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F221F', endColorstr='#0CA818', GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

.onethink.pagination {
    margin: 20px 0;
}

.onethink.pagination div {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.onethink.pagination div > a {
    display: inline;
}

.onethink.pagination div >  a,
.onethink.pagination div >  span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.onethink.pagination div > .current {
    background-color: #f5f5f5;
    color: #999999;
    cursor: default;
}

.onethink.pagination div >:first-child {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.onethink.pagination div >:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

/* page.class.php 分页类 bootstrap样式 */
.onethink.pagination-large div >  a,
.onethink.pagination-large div >  span {
    padding: 11px 19px;
    font-size: 17.5px;
}

.onethink.pagination-large div >:first-child {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
}

.onethink.pagination-large div >:last-child {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}

.onethink.pagination-mini div > li:first-child {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}

.onethink.pagination-mini div >:last-child {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.onethink.pagination-small div >  a,
.onethink.pagination-small div >  span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.onethink.pagination-mini div > a,
.onethink.pagination-mini div > span {
    padding: 0 6px;
    font-size: 10.5px;
}

.onethink.add-topic {
    padding: 30px 0;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.onethink .form-horizontal .controls {
    margin-left: 70px;
}

.onethink .form-horizontal .control-label {
    width: 50px;
    padding-top: 0;
}


.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top-nav {
    height: 35px;
    background-color: #f6f6f6;
    background: url("../images/top_bg.jpg") repeat-x;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),0 -1px 0 rgba(0,0,0,.1) inset;
    font-size: 12px;
    font-family: "宋体","Arial Narrow",HELVETICA;
}
.nav-link {
    height: 35px;
    line-height: 35px;
}
.nav-link a {
    color: #434343;
    margin-right: 5px;
    margin-left: 5px;
}
.topDate {
    width: 180px;
    height: 35px;
    line-height: 35px;
    margin-left: 20px;
    float: right;
    color: #959595;
    text-align: right;
}
.logo {
    margin-left: 60px;
}
.header {
    margin-top: 55px;
}
.search {
    margin-top: 30px;
}
.search  input.text {
    width: 250px;
    height: 37px;
    line-height: 37px;
    padding: 5px;
}
.search .submit {
    width: 92px;
    height: 37px;
    border: none;
    cursor: pointer;
    background-image: url("../images/search.png") !important;
    background-repeat:  no-repeat;
    background-position: center;
    border-radius: 2px;
    vertical-align: top;
    margin-left: -4px;
}
.nav {
    line-height: 35px;
    margin-top: 40px;
    text-align: left;
    border-bottom:3px solid #d64c04;
}
.nav ul {
    height: 35px;
    margin-bottom: 0px;
    padding-left: 0;
}
.nav li {
    float: left;
    list-style: none;
}
.nav li a {
    display: block;
    width: 100%;
    color: #d64c04;
    font-size: 18px;
    background-repeat:  no-repeat;
        padding-left: 60px;
    padding-right: 40px;
    background-position: 28px;
}
.nav li a:hover {
    color: white;
    border-radius: 5px;
    background: #d64c04;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    text-decoration:none;
    background-repeat:  no-repeat;
    background-position: 28px;
}
.nav li a.m01 {
    background-image: url("../images/home.png");
}
.nav li a.m01:hover {
    background-image: url("../images/home_hover.png");
}

.nav li a.m02 {
    background-image: url("../images/fb.png");
}
.nav li a.m02:hover {
    background-image: url("../images/fb_hover.png");
}
.nav li a.m03 {
    background-image: url("../images/dt.png");
}
.nav li a.m03:hover {
    background-image: url("../images/dt_hover.png");
}
.nav li a.m04 {
    background-image: url("../images/hf.png");
}
.nav li a.m04:hover {
    background-image: url("../images/hf_hover.png");
}
.nav li a.m05 {
    background-image: url("../images/jd.png");
}
.nav li a.m05:hover {
    background-image: url("../images/jd_hover.png");
}

.main-colum {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.main-colum .slider {
    width: 720px;
    height: 328px;
    overflow: hidden;
    float: left;
}
.main-colum .right_list {
    width: 280px;
    height: 328px;
    overflow: hidden;
    float: left;
    background: #e5e5e5;
}
.news ul {
    padding-top: 5px;
}
.news ul li {
    line-height: 18px;
    font-size: 14px;
    padding: 12px 0 0 0;
    position: relative;
}
.news ul li .txt {
    width: 240px;
    height: 36px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 12px;
}
.news ul li a {
    color: black;
}
.news ul li .line {
    border-bottom: 1px #a0a0a0 dotted;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    position: absolute;
    left: 20px;
    bottom: -12px;
    width: 240px;
}
.contents {
    width: 100%;
    margin-top: 15px;
}

.content_left {
    width: 720px;
    height: auto;
    float: left;
    overflow: hidden;
}
.content_right {
    width: 280px;
    height: auto;
    float: left;
    overflow: hidden;
}
.leftAreaContent {
    width: 350px;
    position: relative;
    float: left;
}
.tabmenu {
    position: relative;
}
.tabmenu ul{
    height: 30px;
    border-bottom: 2px solid #d64c04;
}
.tabmenu ul li {
    float: left;
    width: auto;
    color: #333333;
    list-style: none;
}
.tabmenu ul li a {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: black;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.tabmenu ul li a:hover,.tabmenu ul li a.active {
    color: white;
    border-radius: 5px;
    background: #d64c04;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    text-decoration:none;
    background-repeat:  no-repeat;
    background-position: 28px;
}
.menuContent {
    position: relative;
    overflow: hidden;
    display: none;
}
.menuContent.active {
    display: block;
}
.j-hotspotPic {
    width: 130px;
    height: 90px;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.menuContent ol li{
    background: url("../images/Point.png") no-repeat scroll left 10px transparent;
    padding-left: 8px;
    height: 20px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 12px;
}
.menuContent ul li{
    background: url("../images/Point.png") no-repeat scroll left 10px transparent;
    padding-left: 8px;
    height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 12px;
}

.rightAreaContent {
    width: 355px;
    position: relative;
    float: left;
    margin-left: 15px;
}
.cityContent {
    width: 100%;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}
.cityContent ul{

}
.cityContent li{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    *display: inline;
    *zoom:1;
}
.tabmenu .more{
    font-size: 0;
    position: absolute;
    top: 5px;
    right: 0;
    background: url("../images/more.png");
    width: 18px;
    height: 18px;
}
.buttons {
    padding-left: 20px;
    text-align: center;
}
.buttons .btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 10px;
    font-size: 0;
    background-position: center;
    border: 0;
}
.btn:hover {
    opacity: 0.8;
}
.blue.btn-shadow {
    color: #fff;
    background: #67c4eb;
}
.orange.btn-shadow {
    color: #fff;
    background: #f59c0a;
    background-image: url("../images/wyly.png");
}
.lyTable {
    width: 100%;
}
.blue {
    color: #67c4eb;
}
.lyDetail {
    position: absolute;
    top: 5px;
    left: 120px;
}
.lyDetail span {
    margin-right: 20px;
}
.lyTable table thead {
    border: 1px solid #fce6d7;
}
.lyTable table thead tr {
    color: #e69b6a;
    height: 30px;
    line-height: 30px;
}
.lyTable table thead hr {
    background-color: #e69b6a;
    height: 10px;
    width: 1px;
    float: right;
    padding: 0;
    margin:0;
    margin-top: 10px;
}
.black12 {
    color: #959595;
}
.lyTable table tbody tr{
    background-color: white;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dotted #d3d3d3;
    padding-bottom: 10px;
}
.orange {
    color: #d64c04
}
.cx {
    width: 100%;
    margin-left: 20px;
    text-align: center;
    background: url("../images/bjcx.png") top left no-repeat;
    height: 90px;
    margin-top: 20px;
}
.searchQues {
    width: 100%;
    margin-left: 20px;
    text-align: center;
    background: url("../images/wtss.png") top left no-repeat;
    height: 90px;
}
.content_right form {
    padding-top: 30px;
    float: left;
}
.content_right  input.text {
    width: 180px;
    height: 37px;
    line-height: 37px;
    padding: 5px;
}
.content_right .submit {
    width: 80px;
    height: 37px;
    border: none;
    cursor: pointer;
    background-image: url("../images/search.png") !important;
    background-repeat:  no-repeat;
    background-position: center;
    border-radius: 2px;
    vertical-align: top;
    margin-left: -4px;
}
.keyword dl {
    width: 100%;
    text-align:left;
    font-size: 14px;
    padding-left: 20px;
    height: 90px;
    overflow: hidden;
}
.keyword dt {
    display:inline-block;
    *display: inline;
    *zoom: 1;
    font-weight: normal;
    margin-bottom: 10px;
}
.footer {
    width: 100%;
    border-top: solid 3px #da5705;
    padding: 15px 0;
}
.dzjg {
    float: left;
    width: 100px;
    vertical-align: middle;
    position: absolute;
}
.footer p {
    text-align: center;
}
.navigation {
    height: 33px;
    width: 100%;
    color: #7d7d7d;
    line-height: 33px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    border: 1px solid #e3e6ed;
    background-image: url("../images/navbg.jpg");
    background-repeat: repeat-x;
}
.navigation a {
    color: #7d7d7d;
}
.section {
    width: 100%;
    padding: 30px;
    border: 1px solid #e1e1e1;
    border-top: none;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.questionForm {
    width: 600px;
    margin:0 auto;
}
.danger {
    color: #d43f3a;
}
.tip {
    margin:0 auto;
    width: 100%;
    text-align: center;
    color: #666;
    font-family: "Arial","SimSun";
}
.questionForm .form-control {
    border-radius: 2px;
}
.questionForm textarea.form-control {
    height: 100px;
}
.btn-submit {
    margin-top: 10px;
    width: 200px;
    height: 40px;
}
.level1 {
    width: 49%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.level2 {
    width: 49%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    visibility: hidden;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}
.questionForm .btn-submit {
    margin-top: 20px;
}