body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("../images/bg.jpg") no-repeat;
    background-position:top;
}
.container {
    width: 1170px !important;
}
.innerblock ul {
    margin-top: 20px;
    border-bottom: 2px solid #626262;
}

.innerblock ul li {
    display: inline-block;
    height: 30px;
    color: #535353;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    *display: inline;
    *zoom: 1;
}

.innerblock ul li:hover,
.innerblock ul li a:hover {
    background: #626262;
    color: white;
    cursor: pointer;
}

.active {
    background: #626262;
    color: #fff;
    color: white !important;
}

.jumbotron {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #378503;
    background: -moz-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: -webkit-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: -o-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: -ms-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F221F', endColorstr='#0CA818', GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

.onethink.pagination {
    margin: 20px 0;
}

.onethink.pagination div {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.onethink.pagination div > a {
    display: inline;
}

.onethink.pagination div >  a,
.onethink.pagination div >  span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.onethink.pagination div > .current {
    background-color: #f5f5f5;
    color: #999999;
    cursor: default;
}

.onethink.pagination div >:first-child {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.onethink.pagination div >:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

/* page.class.php 分页类 bootstrap样式 */
.onethink.pagination-large div >  a,
.onethink.pagination-large div >  span {
    padding: 11px 19px;
    font-size: 17.5px;
}

.onethink.pagination-large div >:first-child {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
}

.onethink.pagination-large div >:last-child {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}

.onethink.pagination-mini div > li:first-child {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}

.onethink.pagination-mini div >:last-child {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.onethink.pagination-small div >  a,
.onethink.pagination-small div >  span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.onethink.pagination-mini div > a,
.onethink.pagination-mini div > span {
    padding: 0 6px;
    font-size: 10.5px;
}

.onethink.add-topic {
    padding: 30px 0;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.onethink .form-horizontal .controls {
    margin-left: 70px;
}

.onethink .form-horizontal .control-label {
    width: 50px;
    padding-top: 0;
}


.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top-nav {
    height: 30px;
    background-color: #f6f6f6;
    background: url("../images/top_bg.jpg") repeat-x;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),0 -1px 0 rgba(0,0,0,.1) inset;
    font-size: 12px;
    font-family: "宋体","Arial Narrow",HELVETICA;
}
.nav-link {
    height: 30px;
    line-height: 30px;
    color: #D44444;
}
.nav-link a {
    color: #434343;
    margin-right: 5px;
    margin-left: 5px;
}
.topDate {
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    float: left;
    color: #959595;
}
.logo {
    margin-left: 60px;
}
.header {
    margin-top: 55px;
}
.search {
    margin-top: 30px;
}
.search  input.text {
    width: 250px;
    height: 40px;
    line-height: 40px;
    padding: 5px;
}
.submit {
    width: 90px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-image: url("../images/search.png");
    background-repeat:  no-repeat;
    background-position: center;
    border-radius: 2px;
    vertical-align: top;
    margin-left: -4px;
}
.nav {
    line-height: 35px;
    margin-top: 40px;
    text-align: left;
    border-bottom:3px solid #d64c04;
}
.nav ul {
    height: 35px;
    margin-bottom: 0px;
    padding-left: 0;
}
.nav li {
    float: left;
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
}
.nav li a {
    color: #d64c04;
    font-size: 18px;
    background-repeat:  no-repeat;
}
.nav li a.m01 {
    background-image: url("../images/home.png");
    padding-left: 30px;
}
.nav li a.m02 {
    background-image: url("../images/fb.png");
    padding-left: 35px;
}
.nav li a.m03 {
    background-image: url("../images/dt.png");
    padding-left: 35px;
}
.nav li a.m04 {
    background-image: url("../images/hf.png");
    padding-left: 30px;
}
.nav li a.m05 {
    padding-left: 35px;
    background-image: url("../images/jd.png");
}
.nav ul li:hover {
    border-radius: 5px;
    background: white;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}
.main-colum {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.main-colum .slider {
    width: 720px;
    height: 328px;
    overflow: hidden;
    float: left;
}
.main-colum .right_list {
    width: 260px;
    height: 328px;
    overflow: hidden;
    float: left;
    background: #e5e5e5;
}