@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,
img {
    border: 0;
}

body {
    font-family: "SimSun", "Arial Narrow", HELVETICA;
    background: url("../images/bg.jpg") no-repeat;
    background-position: top;
}
.navbar-right>a {
    position: relative;
}
.navbar-right>a>img {
    display: none;
    width: 150px;
    position: absolute;
    top: 25px;
    right: 0;
}

.top-nav .container {
    width: 95%;
    min-width: 800px;
}

.container {
    width: 1030px;
}

.innerblock ul {
    margin-top: 20px;
    border-bottom: 2px solid #626262;
}

.innerblock ul li {
    display: inline-block;
    height: 30px;
    color: #535353;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    *display: inline;
    *zoom: 1;
}

.innerblock ul li:hover,
.innerblock ul li a:hover {
    background: #626262;
    color: white;
    cursor: pointer;
}

.tabmenu .active {
    background: #626262;
    color: #fff;
    color: white !important;
}

.jumbotron {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #378503;
    background: -moz-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: -webkit-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: -o-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: -ms-linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    background: linear-gradient(45deg, #1F221F 0%, #0CA818 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F221F', endColorstr='#0CA818', GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

.onethink.pagination {
    margin: 20px 0;
}

.onethink.pagination-left {
    float: left;
}

.onethink.pagination-right {
    float: right;
}

.onethink.pagination div {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.onethink.pagination div > a {
    display: inline;
}

.onethink.pagination div >  a,
.onethink.pagination div >  span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.onethink.pagination div > .current {
    background-color: #f5f5f5;
    color: #999999;
    cursor: default;
}

.onethink.pagination div >:first-child {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.onethink.pagination div >:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.onethink.pagination-large div >  a,
.onethink.pagination-large div >  span {
    padding: 6px 16px;
    font-size: 14px;
}

.onethink.pagination-large div >:first-child {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
}

.onethink.pagination-large div >:last-child {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}

.onethink.pagination-mini div > li:first-child {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}

.onethink.pagination-mini div >:last-child {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.onethink.pagination-small div >  a,
.onethink.pagination-small div >  span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.onethink.pagination-mini div > a,
.onethink.pagination-mini div > span {
    padding: 0 6px;
    font-size: 10.5px;
}

.onethink.add-topic {
    padding: 30px 0;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.onethink .form-horizontal .controls {
    margin-left: 70px;
}

.onethink .form-horizontal .control-label {
    width: 50px;
    padding-top: 0;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top-nav {
    height: 35px;
    background-color: #f6f6f6;
    background: url("../images/top_bg.jpg") repeat-x;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 -1px 0 rgba(0, 0, 0, .1) inset;
    font-size: 12px;
    font-family: "宋体", "Arial Narrow", HELVETICA;
}

.nav-link {
    height: 35px;
    line-height: 35px;
    display: inline-block;
    *display: inline;
    *zoom:1;
}
.navbar-left {
    float: left !important;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.nav-link a {
    color: #434343;
    margin-right: 5px;
    margin-left: 5px;
}

.topDate {
    width: 180px;
    height: 35px;
    line-height: 32px;
    margin-left: 20px;
    float: right;
    color: #959595;
    text-align: right;
}

.header {
    margin-top: 55px;
}

.search {
    margin-top: 30px;
}

.search input.text {
    width: 220px;
    height: 37px;
    line-height: 37px;
    padding-left: 5px;
}

.search .submit {
    width: 92px;
    height: 37px;
    border: none;
    cursor: pointer;
    background-image: url("../images/search.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    vertical-align: top;
    margin-left: -7px;
}

.nav {
    line-height: 35px;
    margin-top: 40px;
    text-align: left;
    border-bottom: 3px solid #d64c04;
}

.nav ul {
    height: 35px;
    margin-bottom: 0px;
    padding-left: 0;
}

.nav li {
    float: left;
    list-style: none;
}

.nav li a {
    display: block;
    width: 216px;
    height: 35px;
    color: #d64c04;
    font-size: 0px;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-position: 10px;
}

.nav li a:hover {
    color: white;
    border-radius: 5px;
    background: #d64c04;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 10px;
}

.nav li a.m01 {
    width: 136px;
    background-image: url("../images/home.png");
}

.nav li a.m01:hover {
    background-image: url("../images/home_hover.png");
}

.nav li a.m02 {
    background-image: url("../images/fb.png");
}

.nav li a.m02:hover {
    background-image: url("../images/fb_hover.png");
}

.nav li a.m03 {
    background-image: url("../images/dt.png");
}

.nav li a.m03:hover {
    background-image: url("../images/dt_hover.png");
}

.nav li a.m04 {
    background-image: url("../images/hf.png");
}

.nav li a.m04:hover {
    background-image: url("../images/hf_hover.png");
}

.nav li a.m05 {
    background-image: url("../images/jd.png");
}

.nav li a.m05:hover {
    background-image: url("../images/jd_hover.png");
}

.main-colum {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.main-colum .slider {
    width: 720px;
    height: 328px;
    overflow: hidden;
    float: left;
}

.main-colum .right_list {
    width: 280px;
    height: 328px;
    overflow: hidden;
    float: left;
    background: #e5e5e5;
}

.news ul {
    padding-top: 5px;
}

.news ul li {
    line-height: 18px;
    font-size: 14px;
    padding: 12px 0 0 0;
    position: relative;
}

.news ul li .txt {
    width: 250px;
    height: 36px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 12px;
}

.news ul li .txt span {
    margin-left: 10px;
}

.news ul li a {
    color: black;
}

.news ul li .line {
    border-bottom: 1px #BFBFBF dotted;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    position: absolute;
    left: 20px;
    bottom: -12px;
    width: 240px;
}

.contents {
    width: 100%;
    margin-top: 15px;
    position: relative;
}

.content_left {
    width: 720px;
    height: auto;
    float: left;
    overflow: hidden;
}

.content_right {
    width: 280px;
    height: auto;
    float: left;
    overflow: hidden;
}

.leftAreaContent {
    width: 350px;
    position: relative;
    float: left;
    height: 245px;
    overflow: hid
}

.tabmenu {
    position: relative;
}

.tabmenu ul {
    height: 30px;
    border-bottom: 2px solid #d64c04;
}

.tabmenu ul li {
    float: left;
    width: auto;
    color: #333333;
    list-style: none;
}

.tabmenu ul li a {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: black;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "microsoft yahei";
}

.tabmenu ul li a:hover,
.tabmenu ul li a.active {
    color: white;
    border-radius: 5px;
    background: #d64c04;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 28px;
}

.menuContent {
    position: relative;
    overflow: hidden;
    display: none;
}

.menuContent.active {
    display: block;
}

.j-hotspotPic {
    width: 130px;
    height: 90px;
    float: left;
    margin-right: 5px;
}

.j-hotspotPic img {
    width: 130px;
    max-height: 90px;
    margin-bottom: 10px;
}

.menuContent ol li {
    background: url("../images/Point.png") no-repeat scroll left 10px transparent;
    padding-left: 8px;
    height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 22px;
}
.menuContent>ul {
    margin-top: 10px;
}
.menuContent ul li {
    background: url("../images/Point.png") no-repeat scroll left 10px transparent;
    padding-left: 8px;
    height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 22px;
}

.rightAreaContent {
    width: 355px;
    position: relative;
    float: left;
    margin-left: 15px;
}

.cityContent {
    width: 100%;
    height: 95px;
    padding-left: 10px;
    padding-right: 10px;
}

.cityContent li {
    display: inline-block;
    font-size: 12px;
    *display: inline;
    *zoom: 1;
    margin-right: 10px;
    position: relative;
    padding-left: 10px;
    padding-right: 2px;
    height: 30px;
    line-height: 30px;
}

.tabmenu .more {
    font-size: 0;
    position: absolute;
    top: 5px;
    right: 0;
    background: url("../images/more.png");
    width: 18px;
    height: 18px;
}

.buttons {
    padding-left: 20px;
    text-align: center;
    margin-bottom: 15px; 
}

.buttons .btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 10px;
    font-size: 0;
    background-position: center;
    border: 0;
}
.nav-link .bdsharebuttonbox  {
    width: 50px;
    float: left;
    margin-top: 3px;
    margin-left: 0px;
}
.bds_more {
    background: none !important;
    padding-left: 12px !important;
}

.btn:hover {
    opacity: 0.8;
}

.blue.btn-shadow {
    color: #fff;
    background: #67c4eb;
}

.orange.btn-shadow {
    color: #fff;
    background: #f59c0a;
    background-image: url("../images/wyly.png");
}
/*?*/
.reo.btn-shadow {
    color: #fff;
    background: #e9714f;
}
.green.btn-shadow {
    color: #fff;
    background: #78d332;
}

.lyTable {
    width: 100%;
}

.blue {
    color: #67c4eb;
}

.lyDetail {
    position: absolute;
    top: 5px;
    left: 180px;
    font-size: 12px;
    color: #8A8A8A;
}

.lyDetail span {
    margin-right: 20px;
}

.lyTable table thead {
    border: 1px solid #fce6d7;
    font-size: 12px;
}

.lyTable table thead tr {
    color: #e69b6a;
    height: 30px;
    line-height: 30px;
}

.lyTable table thead hr {
    background-color: #e69b6a;
    height: 10px;
    width: 1px;
    float: right;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.black12 {
    color: #959595;
}

.lyTable table tbody tr {
    background-color: white;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dotted #d3d3d3;
    padding-bottom: 10px;
}

.orange {
    color: #d64c04
}

.cx {
    width: 100%;
    margin-left: 20px;
    text-align: center;
    background: url("../images/bjcx.png") top left no-repeat;
    height: 90px;
    margin-top: 20px;
}

.searchQues {
    width: 100%;
    margin-left: 20px;
    text-align: center;
    background: url("../images/wtss.png") top left no-repeat;
    height: 80px;
}

.content_right form {
    padding-top: 30px;
    float: left;
}

.content_right input.text {
    width: 180px;
    height: 36px;
    line-height: 36px;
    padding-left: 5px;
}

.content_right .submit {
    width: 80px;
    height: 37px;
    border: none;
    cursor: pointer;
    background-image: url("../images/search.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    vertical-align: top;
    margin-left: -7px;
}

.keyword dl {
    width: 100%;
    text-align: left;
    font-size: 12px;
    padding-left: 20px;
    overflow: hidden;
    margin-bottom: 0;
}

.keyword dt {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.footer {
    width: 100%;
    border-top: solid 3px #da5705;
    padding: 15px 0;
    font-size: 12px;
    margin-bottom: 20px;
}

.footer .container {
    position: relative;
}

.dzjg {
    width: 100px;
    vertical-align: middle;
    position: absolute;
    left: 160px;
}

.footer p {
    text-align: center;
}

/*我要留言*/
.navigation {
    height: 33px;
    width: 100%;
    color: #7d7d7d;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    border: 1px solid #e3e6ed;
    background-image: url("../images/navbg.jpg");
    background-repeat: repeat-x;
    font-size: 12px;
}

.navigation a {
    color: #7d7d7d;
}

.section {
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    margin-bottom: 40px;
}

.questionForm {
    width: 600px;
    margin: 0 auto;
}

.danger {
    color: #d43f3a;
}

.tip {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #666;
    font-family: "Arial", "SimSun";
}

.questionForm .form-control {
    border-radius: 2px;
}

.questionForm textarea.form-control {
    height: 100px;
}

.btn-submit {
    margin-top: 10px;
    width: 200px;
    height: 40px;
}

.level1 {
    width: 49%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.level2 {
    width: 49%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    visibility: hidden;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

.questionForm .btn-submit {
    margin-top: 20px;
}

/*回应社会关切*/
.rts .section {
    width: 690px;
    display: inline-block;
    float: left;
    *display: inline;
    *zoom: 1;
}

.rts .section .tabmenu ul li a.active {
    background: #f9863e;
}

.rts .section .tabmenu ul {
    height: 30px;
    border-bottom: 2px solid #f9863e;
}

.rts-list ol {
    padding: 20px;
    padding-bottom: 0px;
}

.rts-list ol li {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 16px;
}

.rts-list ol li b {
    margin-right: 10px;
    color: #b5b5b5;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
    font-style: italic;
    font-size: 16px;
}

b.orange {
    color: #f9863e !important;
}

.siderbar {
    float: right;
    display: inline;
    width: 310px;
    padding: 10px;
    margin-top: 10px;
}

.lyxd {
    width: 100%;
    padding: 0 20px;
    text-align: left;
    margin-top: 20px;
}

.lyxd h3 {
    font-size: 16px;
    position: relative;
    margin: 0;
    font-family: "Microsoft YaHei";
}

.lyxd h3 span {
    width: 3px;
    height: 20px;
    float: left;
    background-color: #f9863e;
    margin-right: 10px;
}

.lyxd li span {
    float: none;
    color: #999999;
    font-size: 12px;
    width: 80px;
    text-align: center;
    display: block;
    line-height: 35px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.lyxd h3 .more {
    position: absolute;
    right: 0;
    top: 0px;
    color: #707070;
    font-size: 12px;
    line-height: 16px;
}

.lyxd h3 hr {
    width: 100px;
    position: absolute;
    top: 8px;
    margin: 0;
    left: 92px;
}

.lyxd ul {
    padding: 16px 0;
    padding-bottom: 0;
}

.lyxd li {
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    color: #333;
    font-size: 14px;
    background: url(../images/list.png) no-repeat 0 16px;
    padding-left: 18px;
    position: relative;
}

.lyxd li:hover {
    background-image: url(../images/listhover.png);
}

.lyxd li a:hover {
    color: #b10e0e;
}

.lyxd .text {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

.imgbox {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.imgbox img {
    width: 90%;
    margin: 0px auto;
}

/*监督评价公开*/
.sae .section {
    width: 690px;
    display: inline-block;
    float: left;
    *display: inline;
    *zoom: 1;
}

.dt {
    margin-top: 20px;
}

.dt ol {
    width: 100%;
    padding: 20px;
    margin: 0;
}

.dt ol li {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 10px;
    color: #434343;
}

.dt ol li:hover {
    cursor: pointer;
}

.dt .tabmenu .more {
    background: none;
    font-size: 12px;
    width: 45px;
    color: #999999;
}

#article_content img {
    text-align: center;
    max-width: 100%;
    height: auto !important;
}

#article_content {
    word-wrap: break-word;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 30px;
}

#layout {
    background: #E4E4E4 !important;
}

p {
    margin: 5px 0;
}

.font9blue {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#article_content p {
    font: 16px/28px Microsoft YaHei, Arial;
    margin-top: 15px !important;
}

.article-box>h1 {
    font-size: 26px;
    margin: 0;
    padding: 0;
    margin-bottom: .5em;
    padding-bottom: .5em;
    text-align: center;
}

.article-box {
    background: #fff;
    width: 100%;
    font-family: "SimSun", "Arial Narrow", HELVETICA;
}

.article-infobox {
    font-size: 12px;
    color: #666;
    text-align: center;
}

.article-infobox a {
    color: #d64c04;
}

.article-infobox span {
    margin-right: 10px;
}

.article-list .dt {
    margin-top: 0;
}

.article-list li {
    font-size: 16px;
}

.section.article-list {
    padding-bottom: 0;
}

.fb li {
    background: url("../images/kuan.png");
    background-size: 100% 100%;
    color: #626262 !important;
    font-size: 14px !important;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.float-box {
    width: 555px;
    height: 350px;
    padding: 30px;
    padding-bottom: 10px;
    background: none;    /*border-radius: 10px;*/

    /*border: 2px solid #3B7EA1;*/

    /*background-image: linear-gradient(bottom, #3B7EA1 0%, #295369 100%);
    background-image: -o-linear-gradient(bottom, #3B7EA1 0%, #295369 100%);
    background-image: -moz-linear-gradient(bottom, #3B7EA1 0%, #295369 100%);
    background-image: -webkit-linear-gradient(bottom, #3B7EA1 0%, #295369 100%);
    background-image: -ms-linear-gradient(bottom, #3B7EA1 0%, #295369 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #3B7EA1), color-stop(1, #295369) );
    -webkit-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);*/

    /*    box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);*/
    z-index: 9999;
}

.float-box ul {
    text-align: justify;
    margin: 0;
    margin-top: 40px;
}

.float-box ul:after {
    content: "";
    height: 0;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.float-box li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
    letter-spacing: normal;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.float-box li a:hover {
    text-decoration: none;
}

#rmzf {
    background-image: url("../images/ds.png");
    background-size: 100% 100%;
}

#sztj {
    width: 845px;
    height: 540px;
    background-image: url("../images/sz.png");
    background-size: 100% 100%;
    margin-left: -420px;
    top: 100px;
}

#sztj ul {
    margin-top: 70px;
}

#sztj li {
    height: 40px;
    line-height: 40px;
}

.link-info {
    display: none;
    position: absolute;
    z-index: 99999;
    width: 290px;
    height: 220px;
    border: solid 2px #78d232;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
}

.link-info em {
    background: url(../images/bt_arrow.png) no-repeat scroll;
    width: 15px;
    height: 14px;
    position: absolute;
    z-index: 9;
    top: 218px;
    left: 42%;
}

.link-info h1 {
    width: 100%;
    display: block;
    font-size: 20px;
    text-align: center;
    color: black;
    margin-bottom: 0;
}

.link-info ul {
    width: 100%;
    padding: 20px;
    text-align: center
}

.link-info li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.link-info img {
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.doc_er {
    margin-top: 5px;
}

.system-message {
    margin-top: 50px;
    height: 500px;
    width: 1000px;
    background: url("../images/message.png") no-repeat;
    background-size: 100% 100%;
    padding: 24px 48px;
    text-align: center;
    padding-top: 0;
}

.system-message h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 65px;
    margin-bottom: 12px;
    text-align: center;
    color: white;
}

.system-message .jump {
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.system-message .jump a {
    color: #333;
}

.system-message .success,
.system-message .error {
    line-height: 1.8em;
    font-size: 36px
}

.system-message .detail {
    font-size: 12px;
    line-height: 20px;
    margin-top: 12px;
    display: none
}

/* ####  红色14号字##### */
.red14{line-height:24px;   font-size: 14px;  color: #aa0000;   text-decoration: none;}
.red14 a{ line-height:24px;  font-size: 14px;  color: #aa0000;  text-decoration: none;}
.red14 a:hover,.red14 a:active {    font-size: 14px;  color:#aa0000;  text-decoration: none;}
.black14 {
    text-align: left;
    padding: 10px;
    padding-left: 0;
    margin-left: 10px;
    line-height: 26px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}
#wxweibo, #rank {
    margin-bottom: 20px;
}

.wei-focus ul {
    list-style: none;
}
.wei-focus img {
    width: 130px;
    height: 85px;
}

.wei-focus li {
    padding-top: 10px;
    margin-top: 5px;
    height: 85px !important;
    background: none !important;
    list-style: none;
    padding: 0 !important;
        margin-bottom: 20px !important;
}

.wei-focus li .ct {
    margin-left: 10px;
    width: 170px;
}

.wei-focus li .ct p {
    line-height: 18px;
    margin: 0;
}

.wei-focus li .ct p a,.wei-focus li .ct p a:hover {
    color: #666;
    text-decoration: none
}

.wei-focus li .ct p a strong {
    color: #0388f8
}

.wei-focus li .ct .tool {
}

.wei-focus li .ct div.fn-right a {
    color: #333
}

.wei-focus li .ct div.fn-right b {
    color: #999
}

.cr0388f8 {
    color: #e69b6a;
}
.more {
    font-size: 12px;
}
.cityContent.sz {
    height: 70px;
}
.zf {
    height: 114px;
}
.zf li{
    padding-left: 0;
    padding-right: 10px;
    height: 26px;
    width: 70px;
    text-align: center;
}
#wjd .wei-focus .ct{
    font-size: 14px;
    width: 200px;
    margin-left: 15px;
    font-weight: bold;
}
#wjd .tool span{
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 50px;
    overflow: hidden;
}
#wft .wei-focus .ct{
    font-size: 14px;
    width: 200px;
    margin-left: 15px;
    font-weight: bold;
}
#wft .tool span{
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 50px;
    overflow: hidden;
}