* {margin: 0;padding: 0;}
body{background: white;font:14px/1.5 "microsoft yahei","Lucida Grande",Verdana,Lucida,Helvetica,Arial,'Simsun',sans-serif;color:#333;}
html { overflow-y:auto; overflow-x:hidden; }
html,body{ word-wrap:break-word;  margin: 0;}

table {border-collapse: collapse;border-spacing: 0;}
fieldset, img {border: 0;display: block;}
li {list-style: none;}
:focus {outline: 0;}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {*font-size: 100%;}

/* Remove special stylesheet in firefox */
button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner {border: none; padding: 0;}

.hide {display:none;}
.left {float:left;}
.right {float:right;}
/* Clearfix */
.cl:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}

/* for IE6 */
* html .c{height: 1%;}

/* for IE7 */
*+html .cl{zoom:1 !important;}
.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}
a{text-decoration:none;}

.content .news h1 {
    padding-left: 5%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: white;
    background-color: #f59c0a
}
.content .news ul {
    padding: 4px 0;
}
.content .news ul li {
    width: 95%;
    height: 30px;
    list-style-type: square;
    list-style-position: inside;
    line-height: 30px;
    padding-left: 5%;
}
#qie {
    width: 98%;
    margin: 0 auto;
}
#qie ul li {
    width: 50%;
    float: left;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background-color: #f5760b;
    color: white;
}
#qie div {
    width: 100%;
}
.content {
    clear: both;
    width: 99%;
    overflow: hidden;
    padding-top: 10px;
    margin: 0 auto;
}
.content ul li {
    width: 29%;
    float: left;
    padding: 0 2%;
    overflow: hidden;
}
.content img {
    width: 100%;
    border-radius: 50%;
}
.content h1 {
    width: 100%;
    height: 40px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}
.nav {
    width: 100%;
}
.nav .nav-bg {
    width: 100%;
}
.nav .nav-content {
    width: 100%;
    height: 34px;
}
.nav .nav-content ul {
    overflow: hidden;
}
.nav .nav-content ul li {
    font-size: 15px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #f59c0a;
    width: 20%;
    float: left;
    background-image: url(../images/nav-li.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.nav .nav-content ul li a {
    color: white;
}
.lunbo {
    height: 100px;
    width: 100%;
}
.swiper-container {
    width: 100%;
}
.swiper-wrapper {
    width: 100%;
}
.swiper-slide img {
    width: 100%;
}
.search {
    width: 90%;
    margin: 10px auto;
    position: relative;
    margin-top: 30px;
}

.search input.text {
    width: 68%;
    height: 37px;
    line-height: 37px;
    padding-left: 5px;
}
.subtitle {
    padding:10px 0; background-color: #f59c0a; color:white; height:30px; line-height: 30px; text-align: center; margin-top:15px;
}
.search .submit {
    width: 28%;
    height: 40px;
    border: none;
    cursor: pointer;
    background-image: url("../images/search.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    vertical-align: top;
    background-size: 100% 100%;
    margin-left: -4px;
}
.tou ul li {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    border-bottom: 1px solid #c6c4c5;
}
.tou span {
    font-size: 14px;
    float: right;
    color: #c6c4c5;
}
.icon-comment {
    font-size: 14px;
}
.tou h1 {
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    color: #dc5b09;
    background-color: #ececec;
    border-bottom: 1px solid #dc5b09;
}
.tou li a {
    font-size: 16px;
    width: 80%;
    text-align: left;
    height: 50px;
    line-height: 50px;
    color: black;
    display: inline-block;
}
.tou>a {
    font-size: 16px;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #b0b0b0;
}
.top {
    font-size: 14px;
    color: #929191;
}
.liuyan ul li {
    text-align: center;
    font-size: 18px;
    color: white;
    height: 46px;
    line-height: 46px;
    width: 20%;
    float: left;
    background-color: #f59c0a
}
.liuyan ul li img {
    margin: 8px auto;
}



.kn-toolsbar {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF8639), to(#DC5B09));
}
.am-navbar-default {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #15afef;
    z-index: 1020;
}
.am-navbar {
    padding: 0 10px;
    height: 49px;
    line-height: 49px;
}
.am-navbar ul {
    padding-left: 0px;
}
.kn-toolsbar li.am-navbar-item:first-child {
    width: 70%;
    float: left;
    text-align: center;
}
.kn-toolsbar li.am-navbar-item {
    position: relative;
    width: 12%;
}
.kn-toolsbar li.am-navbar-item:first-child a {
    font-size: 18px;
}
.am-navbar-top>ul .am-navbar-item a {
    line-height: 20px;
}
.am-navbar-item a {
    color: #fff;
}
.am-navbar-default .am-navbar-item a {
    color: #fff;
    text-shadow: none;
    display: inline-block;
    width: 100%;
    height: 49px;
    font-size: 12px;
    text-align: center;
}
.weibo {
    display: block;
    height: auto;
    float: left;
}
.am-navbar-qrcode {
    display: block;
    height: auto;
    float: left;
}
.am-navbar-top>ul .am-navbar-item a span {
    display: block;
    line-height: 24px;
    margin: 4px auto 0;
}
.am-navbar-default .am-navbar-item a span {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    margin: 4px auto 0;
}
.kn-toolsbar .am-navbar-qrcode a img {
    display: inline-block !important;
    vertical-align: text-bottom !important;
}

.am-navbar-default .am-navbar-item a img {
    vertical-align: middle;
    height: 24px;
    width: 24px;
    display: inline;
}
.weibo img {
    margin-top: -10px;
}
.weixin a {
    line-height: 24px;
    margin: 4px auto 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    margin: 4px auto 0;
}
#article_content img {
    width: 100% !important;
    height: auto !important; 
}


.tip {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #666;
    font-family: "Arial", "SimSun";
}

.questionForm .form-control {
    border-radius: 2px;
}

.questionForm textarea.form-control {
    height: 100px;
}

.btn-submit {
    margin-top: 10px;
    width: 200px;
    height: 40px;
}

.level1 {
    width: 49%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.level2 {
    width: 49%;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    visibility: hidden;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

.questionForm .btn-submit {
    margin-top: 20px;
}




.onethink.pagination {
    margin: 20px 0;
}
.onethink.pagination-left {
    float: left;
}
.onethink.pagination-right {
    float: right;
}

.onethink.pagination div {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.onethink.pagination div > a {
    display: inline;
}

.onethink.pagination div >  a,
.onethink.pagination div >  span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.onethink.pagination div > .current {
    background-color: #f5f5f5;
    color: #999999;
    cursor: default;
}

.onethink.pagination div >:first-child {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.onethink.pagination div >:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.onethink.pagination-large div >  a,
.onethink.pagination-large div >  span {
    padding: 6px 16px;
    font-size: 14px;
}

.onethink.pagination-large div >:first-child {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
}

.onethink.pagination-large div >:last-child {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}

.onethink.pagination-mini div > li:first-child {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}

.onethink.pagination-mini div >:last-child {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.onethink.pagination-small div >  a,
.onethink.pagination-small div >  span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.onethink.pagination-mini div > a,
.onethink.pagination-mini div > span {
    padding: 0 6px;
    font-size: 10.5px;
}

.onethink.add-topic {
    padding: 30px 0;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.onethink .form-horizontal .controls {
    margin-left: 70px;
}

.onethink .form-horizontal .control-label {
    width: 50px;
    padding-top: 0;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    padding: 0 !important;
    margin: 0 !important;
}
.main-colum {
    padding: 10px;
}
.btn-submit {
    display:block;width:90%; margin:0 auto; background-color: #0662b7; height:45px; line-height: 45px; color:white; font-size:18px; border-radius:5px; border:none; text-align: center;
}

